{% if post.title %}
  <h2 class="p-name">{{ post.title }}</h2>
  <div class="e-content post-content">
    {{ post.html_content }}
  </div>
{% else %}
  <div class="p-name e-content post-content">
    {{ post.html_content }}
  </div>
{% endif %}

{% if post.post_type == 'checkin' and post.location %}
  <div class="map"
       data-latitude="{{post.location.approximate_latitude}}"
       data-longitude="{{post.location.approximate_longitude}}"
       data-location="{{post.location.name}}">
  </div>
{% endif %}
