{% from "_macros.html" import author_image %}
{% for reply in post.reply_contexts %}

  <div class="reply-context">

    {% if not reply.author_name and reply.permalink %}

      <i class="fa fa-share"></i> In reply to
      <a class="u-in-reply-to" href="{{ reply.url }}">
        {% if reply.title %}
          {{reply.title}}
        {% else %}
          {{ reply.url | prettify_url }}
        {% endif %}
      </a>

    {% else %}

      <div class="p-in-reply-to h-cite">
        <div>
          <i class="fa fa-share"></i> In reply to
          {% if reply.title %}
            <a class="u-url" href="{{ reply.url }}">{{ reply.title }}</a>
          {% else %}
            a post
          {% endif %}

          {% if reply.author_name %}
            by <a class="p-author h-card" href="{{ reply.author_url }}">{{ reply.author_name }}</a>
          {% endif %}
          on <a class="u-url" href="{{ reply.url }}">{{ reply.url | domain_from_url }}</a>
        </div>

        <span class="p-author h-card">
          {{ author_image(reply.author_image, reply.author_name) }}
        </span>

        <div class="content">
            <div class="e-content">
              {% if reply.content_words < 200 %}
                {{ reply.content | autolink | bleach | safe }}
              {% else %}
                {{ reply.content_plain | truncate(200) }}
              {% endif %}
            </div>
        </div>

        <div style="clear: both"></div>
      </div>
    {% endif %}
  </div>
{% endfor %}
