<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kyle Mahan{% if title %}: {{ title }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="updates alternate" type="application/atom+xml" href="{{ url_for('updates_atom') }}" title="Kyle Mahan: Updates" />
    <link rel="articles alternate" type="application/atom+xml" href="{{ url_for('articles_atom') }}" title="Kyle Mahan: Articles" />
    <link rel="all alternate" type="application/atom+xml" href="{{ url_for('all_atom') }}" title="Kyle Mahan: All" />
    <link rel="feed" type="text/html" href="{{ url_for('everything') }}" />

    <link rel="webmention" href="{{ url_for('receive_webmention') }}"/>
    <link rel="pingback" href="https://webmention.io/webmention?forward={{ url_for('receive_webmention', _external=True) }}" />

    <link rel="openid.delegate" href="https://kylewm.com/" />
    <link rel="openid.server" href="https://indieauth.com/openid" />

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://kylewm.com/api/token">
    <link rel="micropub" href="https://kylewm.com/api/micropub">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/users/kyle.jpg') }}"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/users/kyle.jpg') }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/users/kyle60.jpg') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/users/kyle76.jpg') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/users/kyle114.jpg') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/users/kyle152.jpg') }}"/>

    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">


    {% block head_content %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav>


          <ul>
            <li><span class="site-name">kylewm.com</span></li>
            <li><a href="{{ url_for('index') }}">stream</a></li>
            <li><a href="{{ url_for('articles') }}">articles</a></li>
            <li><a href="{{ url_for('everything') }}">everything</a></li>
            <li><a href="{{ url_for('archive') }}">archive</a></li>

            <li style="align:right;width:100%">
              {% if current_user.is_anonymous() %}
                <form id="indie_auth_form" action="https://indieauth.com/auth" method="get">
                  <input id="indie_auth_url" type="text" name="me" placeholder="yourdomain.com" />
                  <button id="sign_in_button" type="submit">Sign In</button>
                  <input type="hidden" name="redirect_uri" value="{{ url_for('indieauth', _external=True) }}" />
                </form>
              {% else %}
                {{ current_user.domain | prettify_url }} (<a href="{{ url_for('logout') }}">logout</a>)
              {% endif %}
            </li>

          </ul>



          {% if current_user.is_authenticated() %}

          <div class="new-post-bar">
            <ul>
              <li>
                <a href="{{ url_for('new_post', type='article') }}" id="new-article"><i class="fa fa-file-text-o"></i> Article</a>
              </li>
              <li>
                <a href="{{ url_for('new_post', type='note') }}" id="new-note"><i class="fa fa-file-o"></i> Note</a>
              </li>
              <li>
                <a href="{{ url_for('new_post', type='reply') }}" id="new-reply"><i class="fa fa-comment-o"></i> Reply</a>
              </li>
              <li>
                <a href="{{ url_for('new_post', type='share') }}" id="new-share"><i class="fa fa-retweet"></i> Share</a>
              </li>
              <li>
                <a href="{{ url_for('new_post', type='like') }}" id="new-like"><i class="fa fa-thumbs-o-up"></i> Like</a>
              </li>
              <li>
                <a href="{{ url_for('new_post', type='checkin') }}" id="new-checkin"><i class="fa fa-check"></i> Check-in</a>
              </li>
            </ul>
          </div>

          <div id="composition-area">
          </div>

          {% endif %}
        </nav>
      </header>

      <div class="flashes">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>

      <div id="content-area">
        {% block content %}{% endblock content %}
      </div>

      <footer>
        {% block footer %}{% endblock footer %}
        {% include "_site_info.html" %}
      </footer>
    </div>

  </body>
</html>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/pygments.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ url_for('static',  filename='leaflet/leaflet.css') }}">

<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="{{ url_for('static', filename='js/posts.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/location.js') }}"></script>
{% block other_resources %}
{% endblock other_resources %}
