Flask==0.12
Flask-Login==0.2.11 # rq.filter: <0.3.0
Flask-SQLAlchemy==2.2
Flask-Micropub==0.2.6
Markdown==2.6.8
PyJWT==1.4.2
Pygments==2.2.0
SQLAlchemy==1.1.5
beautifulsoup4==4.5.3
bleach==1.5.0
cov-core==1.15.0
coverage==4.3.4
fixtures==3.0.0
html5lib==0.999999999
oauthlib==2.0.1
pytest==3.0.6
pytest-cov==2.4.0
pytest-mock==1.5.0
python-mimeparse==1.6.0
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.8.0
rq==0.7.1
uWSGI==2.0.14
psycopg2==2.6.2
mf2py>=0.2.8
mf2util>=0.4.1
brevity>=0.2.1
