Fabric==1.8.0
Flask==0.10.1
Flask-Login==0.2.7
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.3
Jinja2==2.7.1
Markdown==2.3.1
MarkupSafe==0.18
PyMySQL==0.6.1
Pygments==1.6
SQLAlchemy==0.8.2
WTForms==1.0.5
Werkzeug==0.9.4
ecdsa==0.10
itsdangerous==0.23
paramiko==1.12.0
pycrypto==2.6.1
requests==2.0.0
smartypants==1.8.3
twitter==1.10.2
uWSGI==1.9.20
wsgiref==0.1.2
