Flask==0.10.1
Flask-DebugToolbar==0.9.0
Flask-Login==0.2.7
Flask-SQLAlchemy==1.0
Jinja2==2.7.1
Markdown==2.3.1
MarkupSafe==0.18
PyMySQL==0.6.1
Pygments==1.6
SQLAlchemy==0.8.2
Werkzeug==0.9.4
beautifulsoup4==4.3.2
itsdangerous==0.23
pycrypto==2.6.1
python-dateutil==2.2
pytz==2013.9
rauth==0.6.2
requests==1.2.3
six==1.6.1
smartypants==1.8.3
uWSGI==1.9.20
