{% macro author(name, url, image) %}
  <span class="p-author h-card">
    {% if image %}
      <img class="avatar u-photo" src="{{ image | imageproxy(64) }}"/>
    {% endif %}
    {% if url %}
      <a class="u-url" href="{{url}}">
        <span class="p-name">{{ name or url}}</span>
      </a>
    {% else %}
      <span class="p-name">{{ name }}</span>
    {% endif %}
  </span> <!-- p-author h-card -->
{% endmacro %}
