{% if post.post_type == 'checkin' and post.venue %}
  <p>Checked in to {{ post.venue.name }}</p>
{% endif %}

{% if post.post_type == 'checkin' and not no_map %}
  {% set map_image = post.map_image(600, 400) %}
  {% if map_image %}
    <img src="{{ map_image }}"/>
  {% endif %}
{% endif %}
