
{% macro short_context(post, context, mf2class, heading) %}
  <div class="short-context {{mf2class}} h-cite">
    {{ heading }}
    <a class="u-url" href="{{context.permalink}}">
      {% if context.author_name %}
        <span class="p-author h-card">{{context.author_name}}</span>'s
      {% endif %}
      {% if context.title %}
        {{ context.title }}
      {% elif 'twitter.com' in context.permalink %}
        tweet
      {% else %}
        post on {{ context.permalink | domain_from_url }}
      {% endif %}
    </a>
  </div>
{% endmacro %}

{% macro full_context(post, context, mf2class, heading) %}
  {% from theme("_macros.jinja2") import author %}
  <div class="full-context {{mf2class}} h-cite">
    <div class="container">
      {{ author(context.author_name, context.author_url, context.author_image) }}
      {% if context.title %}
        <h4>{{ context.title }}</h4>
      {% endif %}
      {% if context.content %}
        <div class="e-content{% if not context.title %} p-name{% endif %}">
          {% if context.content_plain and (context.content_plain | length) > 512 %}
            {{ context.content_plain | truncate(512) }}
          {% elif context.content %}
            {{ context.content | proxy_all | safe }}
          {% endif %}
        </div>
      {% endif %}
      <div class="meta">
        on <a class="u-url" href="{{ context.permalink }}">{{ context.permalink | domain_from_url }}</a>
        <time class="dt-published" datetime="{{ context.published | isotime }}"></time>
      </div>
    </div> <!-- .container -->
  </div>
{% endmacro %}
