{% from theme("_macros.jinja2") import author %}


{% if post.likes %}
  <div class="likes">
  <i class="fa fa-star-o"></i>
  {% for mention in post.likes %}

    <span class="u-like h-cite">
      <data class="p-url" value="{{mention.permalink}}"/>
      <a class="p-author h-card" href="{{mention.author_url}}">
        <img src="{{ mention.author_image | imageproxy(48) }}" title="{{ mention.author_name }}"/>
      </a>
    </span>
    
  {% endfor %}
  </div>
{% endif %}

{% if post.reposts %}
  <div class="reposts">
  <i class="fa fa-retweet"></i>
  {% for mention in post.reposts %}
    <span class="u-repost h-cite">
      <data class="p-url" value="{{mention.permalink}}"/>
      <a class="p-author h-card" href="{{mention.author_url}}">
        <img src="{{ mention.author_image | imageproxy(48) }}" title="{{ mention.author_name }}"/>
      </a>
    </span>
  {% endfor %}
  </div>
{% endif %}



{% if post.replies %}
  {% for mention in post.replies %}
    <div class="p-comment h-cite comment">
      <a name="{{ mention.fragment_id }}"></a>
      <div class="container">
        {{ author(mention.author_name, mention.author_url, mention.author_image) }}
        <div class="e-content">
          {{ mention.content | proxy_all | safe }}
        </div> <!-- .e-content -->
        <div class="meta">
          on <a class="u-url" href="{{ mention.permalink }}">{{ mention.permalink | domain_from_url }}</a>

          {% if mention._children %}
            <div>
              also on
              {% for child in mention._children %}
                <a href="{{ child.permalink }}">{{ child.permalink | domain_from_url }}</a>
              {% endfor %}
            </div>
          {% endif %}
          <time class="dt-published" datetime="{{ mention.published | isotime }}"></time>
        </div> <!-- .meta -->
      </div> <!-- .container -->
    </div>
  {% endfor %}
{% endif %}



{% if post.rsvps %}
  <h3>rsvps</h3>
  {% for mention in post.rsvps %}
    <div class="p-comment h-cite">
      <div>
        <span class="p-author h-card">
          {% if mention.author_image %}<img class="u-photo" src="{{ mention.author_image | imageproxy(24) }}"/>{% endif %}
          <a class="u-url" href="{{mention.author_url}}">
            <span class="p-name">{{ mention.author_name}}</span>
          </a>
        </span>
        (<a class="u-url" href="{{ mention.permalink }}">{{mention.permalink | domain_from_url }}</a>)

        <span class="rsvp {{mention.rsvp}}">
          {% if mention.rsvp == 'yes' %}
            is going
          {% elif mention.rsvp == 'maybe' %}
            might go
          {% elif mention.rsvp == 'no' %}
            is not going
          {% endif %}
        </span>
      </div>
      {% if mention.content %}
        <div class="e-content">
          {{ mention.content | safe }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}


{% if post.references %}
  <h3>other references</h3>
  <ul>
  {% for mention in post.references %}
    <li><a href="{{ mention.permalink }}">{{ mention.permalink | prettify_url }}</a> <a href="{{ mention.url }}">#</a></li>
  {% endfor %}
  </ul>
{% endif %}
