{% extends "_edit_post.html" %}

{% block below_content %}

<input type="hidden" id="latitude" name="latitude" size="10" value="{{ post.location.latitude if post.location else ''}}"/>
<input type="hidden" id="longitude" name="longitude" size="10" value="{{ post.location.longitude if post.location else ''}}"/>

<div class="map" id="checkin-map">
</div>

<script>
  if (typeof($) !== 'undefined') {
    $(document).ready(function() {redwind.editor.setupCheckinMap();});
  }
</script>

{% endblock below_content %}

{% block additional_params %}
<input type="hidden" id="hidden" name="hidden" value="true"/>
{% endblock additional_params %}
