{% extends "base.html" %}

{% block content %}
  {% for year,months in years.items() %}

    <div>
      <span class="archive-year">{{ year }}</span>

      {% for month in range(1, 13) %}
        {% if year == expanded_year and month == expanded_month %}
          <span class="archive-month archive-month-current">
            {{ month | month_shortname }}
          </span>
        {% elif month in months %}
          <span class="archive-month">
            <a href="{{url_for('archive', year=year, month=month)}}">
              {{ month | month_shortname }}
            </a>
          </span>
        {% else %}
          <span class="archive-month">
            {{ month | month_shortname }}
          </span>
        {% endif %}
      {% endfor %}
    </div>

  {% endfor %}

  {% if expanded_month %}
    <div class="h-feed">
      <h2 class="p-name">Kyle Mahan: Archive {{ expanded_year }} {{ expanded_month | month_name }}</h2>
        {% for post in posts %}
          {% include "_post.html" %}
        {% endfor %}
    </div>
  {% endif %}

{% endblock %}
