{% extends "base.html" %}

{% block content %}

<form id="share_on_facebook" method="POST">
    <input type="hidden" id="post_id" name="post_id" value="{{ post.shortid }}"/>

    <input style="padding: 10px 20px 10px 20px" type="submit" id="publish_button" value="Share on Facebook"/>

<textarea  name="preview" id="preview" style="height: 75px; width:100%; background-color: #eeeeff">{{preview}}</textarea><br/>

{% if imgs %}
  <div>
  <label><input type="radio" name="img" value="">No Photo</label><br/>
  {% for img in imgs %}
    <label><input type="radio" name="img" value="{{img}}"{% if loop.first %} checked{% endif %}>
        <img src="{{img}}" style="width:64px; vertical-align: middle"/>
    </label><br/>
  {% endfor %}
  </div>

  <div style="margin-top: 20px">
    <label><input type="radio" name="post_type" value="photo" checked><abbr title="create a facebook photo post">As Photo</abbr></label><br/>
    <label><input type="radio" name="post_type" value="post"><abbr title="share a link to the original with this preview image">As Preview</abbr></label><br/>
  </div>

{% endif %}

</form>

{% endblock content %}
