{% macro short_context(post, context, mf2class, heading) %}
  <div class="context {{mf2class}}">
    {{ heading }}
    {% if context.title %}
      <a class="u-url" href="{{context.permalink}}">{{ context.title }}</a>
    {% else %}
      <a class="u-url" href="{{context.permalink}}">a post on {{ context.permalink | domain_from_url }}</a>
    {% endif %}
    {% if context.author_name and context.author_url %}
      by <a class="author p-author h-card" href="{{context.author_url}}">{{context.author_name}}</a>
    {% elif context.author_name %}
      by <span class="author p-author">{{context.author_name}}</span>
    {% endif %}
  </div>
{% endmacro %}

{% macro full_context(post, context, mf2class, heading) %}
  <div class="context {{mf2class}}">
    <span class="heading">
      {{ heading }}
      {% if context.title %}
        <a class="u-url" href="{{context.permalink}}">{{ context.title }}</a>
      {% else %}
        <a class="u-url" href="{{context.permalink}}">a post on {{ context.permalink | domain_from_url }}</a>
      {% endif %}
    </span>

    {% if context.author_name or context.author_url or context.content %}
      <blockquote>
        <span class="author p-author  h-card">
          {% if context.author_image %}
            <img class="u-photo" src="{{ context.author_image | imageproxy(24) }}" />
          {% endif %}
          {% if context.author_name %}
            {% if context.author_url %}
              <a class="p-name" href="{{ context.author_url }}">
                {{ context.author_name }}
              </a>
            {% else %}
              <span class="p-name">{{ context.author_name }}</span>
            {% endif %}
          {% endif %}
          {% if context.author_url %}
            <a class="u-url" href="{{ context.author_url }}">
              {{ context.author_url | prettify_url }}
            </a>
          {% endif %}
        </span>

        <div class="e-content{% if not post.title %} p-name{% endif %}">
          {% if context.content_plain and (context.content_plain | length) > 512 %}
            {{ context.content_plain | truncate(512) }}
          {% elif context.content %}
            {{ context.content | proxy_all | safe }}
          {% endif %}
        </div>
      </blockquote>
    {% endif %}
    
  </div>
{% endmacro %}
