{% for photo in (post.photos or []) %}
  <div class="photo">
    <a href="{{post.photo_url(photo)}}">
      <img class="u-photo" src="{{post.photo_url(photo) | imageproxy(600)}}" />
    </a>
    {% if photo.get('caption') %}
      <div class="caption">{{ photo.get('caption') | safe }}</div>
    {% endif %}
  </div>
{% endfor %}
