{% if post.likes %}
  <h3>likes</h3>
  {% for mention in post.likes %}
    <a href="{{mention.author_url}}">
      <img src="{{ mention.author_image | imageproxy(24) }}" title="{{ mention.author_name }}"/>
    </a>
  {% endfor %}
{% endif %}

{% if post.reposts %}
  <h3>reposts</h3>
  {% for mention in post.reposts %}
    <a href="{{mention.author_url}}">
      <img src="{{ mention.author_image | imageproxy(24) }}" title="{{ mention.author_name }}"/>
    </a>
  {% endfor %}
{% endif %}

{% if post.rsvps %}
  <h3>rsvps</h3>
  {% for mention in post.rsvps %}
    <div class="p-comment h-cite">
      <div>
        <span class="p-author h-card">
          {% if mention.author_image %}<img class="u-photo" src="{{ mention.author_image | imageproxy(24) }}"/>{% endif %}
          <a class="u-url" href="{{mention.author_url}}">
            <span class="p-name">{{ mention.author_name}}</span>
          </a>
        </span>
        (<a class="u-url" href="{{ mention.permalink }}">{{mention.permalink | domain_from_url }}</a>)
        <span class="rsvp {{mention.rsvp}}">
          {% if mention.rsvp == 'yes' %}
            is going
          {% elif mention.rsvp == 'maybe' %}
            might go
          {% elif mention.rsvp == 'no' %}
            is not going
          {% endif %}
        </span>
      </div>
      {% if mention.content %}
        <div class="e-content">
          {{ mention.content | safe }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}

{% if post.replies %}
  <h3>replies</h3>
  {% for mention in post.replies %}
    <div class="p-comment h-cite">
      <div>
        {% if mention.author_name or mention.author_url %}
          <span class="p-author h-card">
            {% if mention.author_image %}<img class="u-photo" src="{{ mention.author_image | imageproxy(24) }}"/>{% endif %}
            {% if mention.author_url %}
              <a class="u-url" href="{{mention.author_url}}">
                <span class="p-name">{{ mention.author_name or mention.author_url}}</span>
              </a>
            {% else %}
              <span class="p-name">{{ mention.author_name}}</span>
            {% endif %}
          </span>
        {% endif %}
        (<a class="u-url" href="{{ mention.permalink }}">{{ mention.permalink | domain_from_url }}</a>)
        <a href="{{ mention.url }}">#</a>
      </div>
      {{ mention.content | proxy_all | safe }}
      {% if mention._children %}
        <div>
          also on
          {% for child in mention._children %}
            <a href="{{ child.permalink }}">{{ child.permalink | domain_from_url }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}

{% if post.references %}
  <h3>other references</h3>
  <ul>
  {% for mention in post.references %}
    <li><a href="{{ mention.permalink }}">{{ mention.permalink | prettify_url }}</a> <a href="{{ mention.url }}">#</a></li>
  {% endfor %}
  </ul>
{% endif %}
