{% for context in post.reply_contexts %}
  <blockquote class="p-in-reply-to h-cite">
    in reply to
    
    {% if context.author_url and context.author_image and context.author_name %}
      <a class="p-author h-card" href="{{ context.author_url }}">
        <img class="u-photo" src="{{ context.author_image | imageproxy(64) }}" />
        {{ context.author_name }}
      </a>
    {% elif context.author_name and context.author_image %}
      <span class="p-author h-card">
        <img class="u-photo" src="{{ context.author_image | imageproxy(64) }}" />
        {{ context.author_name }}
      </span>
    {% elif context.author_name and context.author_url %}
      <a href="p-author h-card" href="{{context.author_url}}">{{context.author_name}}</a>
    {% elif context.author_name %}
      <span href="p-author">{{context.author_name}}</span>
    {% endif %}
    {% if context.title %}
      - <a class="u-url" href="{{context.permalink}}">{{ context.title }}</a>
    {% else %}
      on <a class="u-url" href="{{context.permalink}}">{{ context.permalink | domain_from_url }}</a>
    {% endif %}
    <div class="e-content{% if not post.title %} p-name{% endif %}">
      {% if (context.content_plain | length) > 512 %}
        {{ context.content_plain | truncate(512) }}
      {% else %}
        {{ context.content | proxy_all | safe }}
      {% endif %}
    </div>
  </blockquote>
{% endfor %}
