{% extends theme("base.jinja2") %}
{% block content %}
  <main>
    <header>
      <h1>Kyle Mahan</h1>
    </header>

    {% for post in posts %}

      {% set date = post.published | date(first_only=True) %}
      {% if date %}<h1>{{ date }}</h1>{% endif %}

      <article class="post {{post.mf2_type}}">
        {% if post.title %}
          <h2><a class="u-url p-name" href="{{post.permalink}}">{{ post.title }}</a></h2>
        {% endif %}

        <div class="e-content">
          {{ post.content_html | safe }}
          {% for photo in (post.photos or []) %}
            <div class="photo">
              <a href="{{post.photo_url(photo)}}">
                <img class="u-photo" src="{{post.photo_url(photo) | imageproxy(600)}}" />
              </a>
              {% if photo.get('caption') %}
                <div class="caption">{{ photo.get('caption') | safe }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <footer>
        <a class="u-url" href="{{post.permalink}}">
          <time class="dt-published" datetime="{{post.published|isotime}}">{{ post.published | time }}
        </time></a>
        </footer>
      </article>

    {% endfor %}
  </main>
  <aside>
    {{ settings.author_bio }}
  </aside>
{% endblock content %}
