{% extends theme("base.jinja2") %}
{% block body %}
  <body class="h-feed">
    <main>
      {% for post in posts %}

        {% set date = post.published | date(first_only=True) %}
        {% if date %}<h1>{{ date }}</h1>{% endif %}

        <article class="post {{post.mf2_type}}">
          {% for reply in post.reply_contexts %}
            re: <a href="{{reply.permalink}}">{{ reply.permalink | prettify_url }}</a>
          {% endfor %}
          {% for like in post.like_contexts %}
            like: <a href="{{like.permalink}}">{{ like.permalink | prettify_url }}</a>
          {% endfor %}
          {% for bookmark in post.bookmark_contexts %}
            bookmark: <a href="{{bookmark.permalink}}">{{ bookmark.permalink | prettify_url }}</a>
          {% endfor %}

          {% if post.title %}
            <h2><a class="u-url p-name" href="{{post.permalink}}">{{ post.title }}</a></h2>
          {% endif %}

          <div class="e-content{% if not post.title %} p-name{% endif %}">
            {% include theme("_repost_contexts.jinja2") %}
            {% include theme("_checkin.jinja2") %}

            {{ post.content_html | proxy_all | safe }}

            {% include theme("_photos.jinja2") %}
          </div>
          <footer>
            <a class="u-url" href="{{post.permalink}}">
              <time class="dt-published" datetime="{{post.published|isotime}}">{{ post.published | time }}
            </time></a>
          </footer>
        </article>
      {% endfor %}
    </main>
    <aside>
      <h1>.:{{settings.site_title}}:.</h1>
      <ul>
        <li><a href="{{ url_for('index') }}">Stream</a></li>
        <li><a href="{{ url_for('posts_by_type', plural_type='articles') }}">Articles</a></li>
        <li><a href="{{ url_for('everything') }}">Everything</a></li>
        <li><a href="{{ url_for('tag_cloud') }}">Tags</a></li>
      </ul><br/>
      <h1>.:bio:.</h1>
      {{ settings.author_bio }}

    </aside>
  </body>
{% endblock body %}
