{% extends theme("base.jinja2") %}
{% from theme("_contexts.jinja2") import full_context %}
{% block body %}
  <body class="h-feed">
    <span class="p-name"></span>
    <main>
      {% for post in posts %}
        {% set date = post.published | date(first_only=True) %}
        {% if date %}
          <h1>{{ date }}</h1>
        {% endif %}
        <article class="post {{post.mf2_type}}">
          {% for reply in post.reply_contexts %}
            {{ full_context(post, reply, 'u-in-reply-to h-cite', 'in reply to') }}
          {% endfor %}
          {% for like in post.like_contexts %}
            {{ full_context(post, like, 'u-like-of h-cite', 'liked') }}
          {% endfor %}
          {% for bookmark in post.bookmark_contexts %}
            {{ full_context(post, bookmark, 'u-bookmark-of h-cite', 'bookmarked') }}
          {% endfor %}
          {% if post.title %}
            <h2><a class="u-url p-name" href="{{post.permalink}}">{{ post.title }}</a></h2>
          {% endif %}
          {% if post.post_type == 'event' %}
            <h2>
              {{ (post.start, post.end) | datetime_range }}
            </h2>
          {% endif %}
          <div class="e-content{% if not post.title %} p-name{% endif %}">
            {% for repost_context in post.repost_contexts %}
              {{ full_context(post, repost_context, 'u-repost-of h-cite', 'shared') }}
            {% endfor %}
            {% include theme("_checkin.jinja2") %}
            {{ post.content_html | proxy_all | safe }}
            {% include theme("_photos.jinja2") %}
          </div>
          <footer>
            {% include theme("_location.jinja2") %}
            <a class="u-url" href="{{post.permalink}}">
              <time class="dt-published" datetime="{{post.published|isotime}}">{{ post.published | time }}
            </time></a>
            {% for s in post.syndication %}
              <a class="u-syndication" href="{{ s }}"></a>
            {% endfor %}
          </footer>
        </article>
      {% endfor %}

      {% if older %}
        <div class="pager">
          <a rel="previous" class="older" href="{{older}}">
            Older &rarr;
          </a>
        </div>
      {% endif %}

    </main>
    <aside>
      <div>
        <h1>.:{{settings.site_title}}:.</h1>
        <ul>
          <li><a href="{{ url_for('index') }}">Stream</a></li>
          <li><a href="{{ url_for('posts_by_type', plural_type='articles') }}">Articles</a></li>
          <li><a href="{{ url_for('everything') }}">Everything</a></li>
          <li><a href="{{ url_for('tag_cloud') }}">Tags</a></li>
        </ul>
      </div>

      <div>
        <h1>.:bio:.</h1>
        {{ settings.author_bio }}
        <br/>
      </div>

      {% if events %}
        <div>
          <h1>.:upcoming events:.</h1>
          {% for event in events %}
            <div class="upcoming-event h-event">
              <a class="u-url" href="{{event.permalink}}">
                <time class="dt-start" datetime="{{event.start | isotime }}">
                  {{event.start | date}}
                </time>
                <div class="p-name">
                  {{event.title}}
                </div>
                <div class="p-location">
                  {{event.venue.name}}
                </div>
              </a>
            </div> <!-- .upcoming-event -->
          {% endfor %}
        </div>
        
      {% endif %}

      <div>
        <h1>.:search:.</h1>
        <form method="GET" action="{{url_for('search')}}">
          <input name="q" style="width:65%"/>
          <button type="submit" style="width:25%">Go</button>
        </form>
      </div>
    </aside>
  </body>
{% endblock body %}
