/* Reset based on Normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl{margin:0;padding:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

body {
    color: #333;
    background-color: white;
    line-height: 1.3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 110%;
}

code, pre {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 0.8em;
}

pre {
    overflow-x: auto;
    white-space:pre;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
}

h1, .h1 {
    font-size: 2em;
    margin-top: 1em;
}

h2, .h2, h3, .h3, h4, h5, h6 {
    font-size: 1.5em;
    margin-top: 0.5em;
}

p + p {
    margin-top: 1em;
}

.post+.post {
    margin-top: 50px;
}

.post .reply-context {
   font-size: 0.8em;
}

.post .links {
    font-size: 0.8em;
    margin-top: 0.2em;
}

.draft {
    background-color: #eee;
}

.draft:before, .draft:after {
    content: "DRAFT";
    font-size: small;
    font-style: italic;
}


.replies {
    margin-top: 20px;
    font-size: 0.8em;
}

.likes {
    margin-top: 20px;
    font-size: 0.8em;
}

.references {
    margin-top: 20px;
    font-size: 0.8em;
}

.p-comment + .p-comment {
    margin-top: 20px;
}

a {
    color: #268bd2;
    text-decoration: none;
}

a:hover {
    color:#cb4b16;
}

.wrapper {
    margin-top: 30px;
}

header {
}

header .site-name {
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
}

nav {
    text-align: right;
}

nav li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.sidebar .h-card {
    border-bottom: solid 1px #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.sidebar .h-card .p-name {
    font-weight: bold;
}

.sidebar .h-card img {
    float: left;
    margin: 10px 10px 0px 10px;
}

.recent-articles {
    border-bottom: solid 1px #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.pager-left {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddb;
    float: left;
}

.pager-right {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddb;
    float: right;
}

footer {
    color: #777;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.post+footer {
    margin-top: 20px;
}

.post {
    /*border: 1px solid #333;
      border-radius: 15px;
      box-shadow: 3px 3px 0px #222;*/
    /*border-top: 1px solid #dedede;*/
    padding: 10px;
    position: relative;
}

.sidebar {
    /*border: 1px solid #333;
      border-radius: 15px;
      box-shadow: 3px 3px 0px #222;*/
    padding: 10px;
}

.admin-post-controls {
    display: inline-block;
    /*position: absolute; left: -35px;*/
    float: right;
    font-size: 0.8em;
    text-align: right;
}

.syndication-icon {
    vertical-align: middle;
}

footer a:visited, footer a:link, footer a:hover {
    color: #a2a2a2;
    text-decoration: underline;
}

ul, ol {
    margin-left: 2em;
}

ol li {
    list-style-type: decimal;
}

ul li {
    list-style-type: circle;
}

form .heading {
    width: 150px;
    display: inline-block;
}

form input {
    margin: 3px;
}

/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
	margin: 1% 0 1% 0%;
    }
}


/*  GRID OF THREE   ============================================================================= */


.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_3_of_3 {
	width: 100%;
    }
    .span_2_of_3 {
	width: 100%;
    }
    .span_1_of_3 {
	width: 100%;
    }
}/*  GRID OF FIVE   ============================================================================= */


.span_5_of_5 {
    width: 100%;
}

.span_4_of_5 {
    width: 79.68%;
}

.span_3_of_5 {
    width: 59.36%;
}

.span_2_of_5 {
    width: 39.04%;
}

.span_1_of_5 {
    width: 18.72%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_5_of_5 {
	width: 100%;
    }
    .span_4_of_5 {
	width: 100%;
    }
    .span_3_of_5 {
	width: 100%;
    }
    .span_2_of_5 {
	width: 100%;
    }
    .span_1_of_5 {
	width: 100%;
    }
}
