@import "normalize";

body {
    font: 16pt/1.4em serif;
    background: #fafafa;
    color: #2C4156;
    /*color: #1F2D3C;*/
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    color: #2F6193;

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}


h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size:1.3em;
}

h3 {
    font-size: 1.2em;
}

h4,h5,h6 {
    font-size: 1.1em;
}

article+article {
    margin-top: 5em;
}

h1+article {
    margin-top: 1em;
}

article+h1 {
    margin-top: 4em;
}

p {
    &:first-child{
        margin-top: 0;
    }
    &:last-child{
        margin-bottom: 0;
    }
}

blockquote {
    padding-left:0.5em;
    margin-left:0;
    border-left: 2px solid #808080;
}

.container {
    clear: both;
    padding: 0px;
    margin: 0px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.avatar-column {
    display: block;
    width: 75px;
    float: left;

    font-size: 0.8em;
    text-align: center;
}

.content-column {
    display: block;
    max-width: 705px;
    float: left;
    margin-left: 5px;
}

.p-author {
   vertical-align: top;
}

.full-context,.comment {
    padding: 5px;
    border-radius: 5px;
    margin: 1em 0;

    border: 1px solid #ddd;
    border-radius: 5px;
    img {
        max-width: 150px;
    }
}

.prime.note, .prime.reply {
    padding: 5px;
    border-radius: 5px;
    margin: 1em 0;
    border: 1px solid #aaa;
    .e-content {
        font-size: 1.1em;
    }
}

.likes,.reposts {
    margin: 1em 0;
    display: block;
    img {
        vertical-align: middle;
    }
    font-size: 1.1em;
}

.actions {
    a {
        font-size: 1.1em;
        margin: 1em 1em 1em 0;
        display: inline-block;
    }

}

header {
    margin: 1em 0 2em 0;

    .p-name {
        font-weight: bold;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
        margin-right: 4px;
    }
}

footer {
    margin-top: 4em;
}

.hidden {
    display: none;
}

.pager {

    text-align: center;
    margin: 1em;

    a {
        display: inline-block;
        padding: 0.2em;
        border: 1px solid #999;
        border-radius: 4px;
        text-decoration: none;
        color: #999;
    }
}
