{% for type, contexts in [
  ('Reply', post.reply_contexts),
  ('Share', post.repost_contexts),
  ('Like', post.like_contexts),
  ('Bookmark', post.bookmark_contexts),
  ] %}
  {% for context in contexts %}
    {% include "admin/_context.jinja2" %}
  {% endfor %}
{% endfor %}
