
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('views.index')}}">{{ settings.site_title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="admin-navbar">
          <ul class="nav navbar-nav">

            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" area-expanded="false"><i class="glyphicon glyphicon-file"></i> New Post <i class="caret"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('admin.new_post', type='article') }}" id="new-article"><i class="glyphicon glyphicon-book"></i> Article</a></li>
                <li><a href="{{ url_for('admin.new_post', type='note') }}" id="new-note"><i class="glyphicon glyphicon-file"></i> Note</a></li>
                <li><a href="{{ url_for('admin.new_post', type='photo') }}" id="new-photo"><i class="glyphicon glyphicon-camera"></i> Photo</a></li>
                <li><a href="{{ url_for('admin.new_post', type='reply') }}" id="new-reply"><i class="glyphicon glyphicon-comment"></i> Reply</a></li>
                <li><a href="{{ url_for('admin.new_post', type='share') }}" id="new-share"><i class="glyphicon glyphicon-share"></i> Share</a></li>
                <li><a href="{{ url_for('admin.new_post', type='like') }}" id="new-like"><i class="glyphicon glyphicon-star"></i> Like</a></li>
                <li><a href="{{ url_for('admin.new_post', type='bookmark') }}" id="new-bookmark"><i class=" glyphicon glyphicon-bookmark"></i> Bookmark</a></li>
                <li><a href="{{ url_for('admin.new_post', type='checkin') }}" id="new-checkin"><i class="glyphicon glyphicon-map-marker"></i> Check-in</a></li>
                <li><a href="{{ url_for('admin.new_post', type='event') }}" id="new-event"><i class="glyphicon glyphicon-calendar"></i> Event</a></li>
              </ul>
            </li>

            <li><a href="{{ url_for('admin.all_drafts') }}"><i class="glyphicon glyphicon-inbox"></i> Drafts</a></li>
            <li><a href="{{url_for('admin.mentions')}}"><i class="glyphicon glyphicon-comment"></i> Mentions</a></li>

            <li><a href="{{ url_for('admin.contacts') }}"><i class="glyphicon glyphicon-user"></i> Contacts</a></li>
            <li><a href="{{ url_for('admin.all_venues') }}"><i class="glyphicon glyphicon-map-marker"></i> Venues</a></li>
            <li><a href="{{ url_for('admin.edit_settings') }}"><i class="glyphicon glyphicon-wrench"></i> Settings</a></li>
            <li><a href="{{ url_for('posse.index') }}"><i class="glyphicon glyphicon-share"></i> POSSE</a></li>

          </ul>

          {% if current_user.is_anonymous() %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('admin.login') }}"><i class="glyphicon glyphicon-lock"></i> Login</a></li>
            </ul>
          {% else %}
            <div class="navbar-text navbar-right">
              {{ current_user.name }} (<a class="navbar-link" href="{{ url_for('admin.logout', next=request.path) }}">logout</a>)
            </div>
          {% endif %}

        </div>
      </div>
    </nav>
