{% extends "admin/base.jinja2" %}

{% macro format_user(user) %}
  <ul>
    <li>Name: {{ user.name }}</li>
    {% if user.url %} <li>URL: {{ user.url }}</li> {% endif %}
    {% if user.facebook_id %} <li>Facebook : {{ user.facebook_id }}</li> {% endif %}
    {% if user.twitter_id %} <li>Twitter: {{ user.twitter_name }}</li> {% endif %}
  </ul>
{% endmacro %}

{% block content %}

  <p>
    Would you like to associate {{ credential.type }}:{{ credential.value }} with {{ current_user.name }} or create a new user?
  </p>

    <a class="btn btn-primary" href="{{ url_for('.login_associate') }}">Associate With Current User</a>
    <a class="btn btn-default" href="{{ url_for('.login_do_not_associate') }}">Create New User</a>

{% endblock content %}
