<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ settings.site_title }}{% if title %}: {{ title | truncate(50) }}{% endif %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='tag-it/css/jquery.tagit.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='tag-it/css/tagit.ui-zendesk.css')}}"/>

    <style>
    body {
        margin-top: 70px;
        margin-bottom: 20px;
    }
    .container {
        max-width: 800px;
    }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>


    <main class="container">

      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}

      {% block content %}
      {% endblock content %}
    </main>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{url_for('static', filename='tag-it/js/tag-it.js')}}" type="text/javascript" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    {% block closing %}
      <script type="text/javascript">
        window.SITE_ROOT = '{{ settings.site_url }}';
      </script>
    {% endblock closing %}

  </body>
</html>
