{% extends "admin/edit_note.jinja2" %}

{% block above_content %}
  {% if post.venue %}
    <div id="previous_venue_info" data-id="{{post.venue.id}}"
         data-latitude="{{post.venue.location.get('latitude')}}"
         data-longitude="{{post.venue.location.get('longitude')}}">
    </div>
  {% elif post.location %}
    <div id="previous_venue_info"
         data-latitude="{{post.location.get('latitude')}}"
         data-longitude="{{post.location.get('longitude')}}">
    </div>
  {% endif %}

  <div id="select_venue_holder" class="form-group">
    <span class="input-group">
      <select class="form-control" id="venue" name="venue" placeholder="Venue"></select>
      <a href="#" class="input-group-addon" id="new_venue_expander">Create New</a>
    </span>
  </div>

  <div id="new_venue_holder">
    <div class="form-group">
      <input class="form-control" placeholder="Venue Name" type="text" id="new_venue_name" name="new_venue_name" />
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Latitude" type="text" name="new_venue_latitude" id="new_venue_latitude" />
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Longitude" type="text" name="new_venue_longitude" id="new_venue_longitude" />
    </div>
  </div>
{% endblock above_content %}

{% block hidden_check %}
  <label><input type="checkbox" id="hidden" name="hidden" value="true" {% if post.hidden %}checked{% endif %} /> Hidden from Stream</label>
{% endblock hidden_check %}

{% block closing %}
  {{ super() }}
  <script src="{{url_for('static', filename='admin/edit_checkin.js', bust='2015-04-10')}}"></script>
{% endblock %}
