{% extends "admin/edit_note.jinja2" %}

{% block above_content %}
{% for photo in post.photos or [] %}
<div>
  <img src="{{post.photo_thumbnail(photo)}}" />
</div>
{% endfor %}
{% endblock %}

{% block file_upload %}
  <input type="file" id="image_upload_button" name="photo" accept="image/*"></input>
  <ul id="uploads">
    {% for attachment in post.attachments %}
      <li><img src="{{attachment.url}}" style="max-width:150px; max-height:150px"/>{{attachment.filename}}</li>
    {% endfor %}
  </ul>
{% endblock %}
