{% extends "admin/edit_post.jinja2" %}

{% block above_content %}

  <div class="form-group">
    <input class="form-control" placeholder="Audio File (URL)" type="url" id="audio_file" name="audio_file" />
  </div>

{% endblock above_content %}
