{% extends "admin/base.jinja2" %}
{% block content %}
  {% if not current_user.is_authenticated() %}
    <div class="alert alert-danger" role="alert">
      You are not currently logged in. Feel free to poke around, but you won't be able to post anything without first authenticating as the blog owner.
    </div>
  {% endif %}

  <div id="context-area">
  </div>

  <form id="edit_form" method="POST" action="{{ url_for('admin.save_' + edit_type) }}" enctype="multipart/form-data">

    <div class="form-group btn-group" role="group">
      {% for action in ['publish', 'save_draft'] %}
        <button
           class="btn {% if loop.first %}btn-primary{%else%}btn-default{% endif %}"
           type="submit" name="action" value="{{action}}">
           {{button_text[action]}}
        </button>
      {% endfor %}
    </div>

    <div class="form-group">
      <div class="btn-group" data-toggle="buttons">
        {% for target in current_user.posse_targets %}
          <label class="btn btn-default">
            <input name="syndicate-to" type="checkbox" value="{{target.uid}}" />
            {{ target.name }}
          </label>
        {% endfor %}
      </div>
    </div>

    {% block above_content %}
    {% endblock above_content %}

    {% block content_fields %}
      <div class="form-group">
        <textarea class="form-control" name="content" id="content" rows="2" placeholder="Content">{{ post.content or '' }}</textarea>
        <span id="character-count"></span>
      </div>
    {% endblock content_fields %}

    {% block below_content %}
    {% endblock below_content %}

    <div class="form-group">
      <ul id="tag-list">
        {% for tag in post.tags %}
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="form-group">
      <ul id="person-list">
        {% for person in post.people %}
          <li>{{ person.nicks[0].name }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="form-group">
      <select class="form-control" name="venue" id="venue">
        <option value="">No Venue</option>
        {% for venue in venues %}
          <option value="{{ venue.id }}" {% if post.venue == venue %}selected{% endif %}>{{ venue.name }}: {{ venue.location | geo_name }}</option>
        {% endfor %}
      </select>
    </div>

    {% block file_upload %}
      <div class="form-group">
        <input type="file" id="image_upload_button" name="files" multiple="multiple" accept="image/*" />
        <ul id="uploads">
          {% for attachment in post.attachments %}
            <li><a href="#"><img src="{{attachment.url}}" style="max-width:150px; max-height:150px"/>{{attachment.filename}}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endblock %}

    <data id="post_path" value="{{post.path}}"></data>
    <input type="hidden" id="post_id" name="post_id" value="{{ post.id or 'new' }}"/>
    <input type="hidden" id="post_type" name="post_type" value="{{ post.post_type }}"/>

    <div class="form-group">
      <label><input type="checkbox" id="friends_only" name="friends_only" value="true" {% if post.friends_only %}checked{% endif %} /> Friends-Only</label>
    </div>

    {% block hidden_check %}
    <div class="form-group">
      <label><input type="checkbox" id="hidden" name="hidden" value="true" {% if post.hidden %}checked{% endif %} /> Hidden from Stream</label>
    </div>
    {% endblock hidden_check %}

    {% block additional_params %}
    {% endblock additional_params %}

  </form>

  <a href="{{ url_for('.edit_by_id', id=post.id, full=True) }}">Edit all fields</a>


{% endblock  content %}


{% block closing %}
  {{ super() }}

  <script src="{{url_for('static', filename='admin/util.js')}}"></script>
  <script src="{{url_for('static', filename='admin/edit_post.js', bust='2015-03-07')}}"></script>
  <script src="{{url_for('static', filename='cassis.js')}}"></script>

  <script>
    $('#tag-list').tagit({
      placeholderText: 'Tags',
      availableTags: {{ tags | json }},
      autocomplete: {
        messages: {
          noResults: '',
          results: function() {}
        }
      }
    });

   $('#person-list').tagit({
      placeholderText: 'People',
      fieldName: 'people',
      availableTags: {{ people | json }},
      autocomplete: {
        messages: {
          noResults: '',
          results: function() {}
        }
      }
    });

    $('#content').bind('input propertychange', function() {
      var textProxy = tw_text_proxy(this.value);
      $('#character-count').text(textProxy.length);
    });
  </script>

{% endblock closing %}
