{% extends "admin/base.jinja2" %}

{% macro format_user(user) %}
  <ul>
    <li>Name: {{ user.name }}</li>
    {% if user.url %} <li>URL: {{ user.url }}</li> {% endif %}
    {% if user.facebook_id %} <li>Facebook : {{ user.facebook_id }}</li> {% endif %}
    {% if user.twitter_id %} <li>Twitter: {{ user.twitter_name }}</li> {% endif %}
  </ul>
{% endmacro %}

{% block content %}

  <div>
    You have logged in as {{ format_user(new_user) }}
  </div>

  <div>
    You were previously logged in as: {{ format_user(current_user) }}
  </div>

  Would you like to merge these two user accounts?

    <a class="btn btn-primary" href="{{ url_for('.login_do_merge_users') }}">Merge Users</a>
    <a class="btn btn-default" href="{{ url_for('.login_do_not_merge_users') }}">Continue Without Merging</a>

{% endblock content %}
