{% extends "admin/base.jinja2" %}
{% block content %}

  <form class="form-signin" role="form" method="GET" style="max-width: 330px; margin: 0 auto;">
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <input type="hidden" value="remember-me">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" name="me" placeholder="yourdomain.com" required autofocus />
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">IndieAuth</button>
          </div>
        </div>
      </div>
  </form>

  <form  role="form" method="GET" action="{{ url_for('admin.login_twitter') }}" style="max-width: 330px; margin: 0 auto;">
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Sign in with Twitter</button>
    </div>
  </form>

  <form role="form" method="GET" action="{{ url_for('admin.login_facebook') }}" style="max-width: 330px; margin: 0 auto;">
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Sign in with Facebook</button>
    </div>
  </form>


{% endblock content %}
