{% if authenticated %}

<a class="admin-post-controls-arrow" href="#">
  <i class="fa fa-caret-down"></i>
</a>
<ul class="admin-post-controls">
  <li>
    <a href="{{ url_for('edit_by_id', id=post.shortid) }}">Edit</a>
  </li>
  <li>
    <a href="{{ url_for('share_on_twitter', id=post.shortid) }}">
      <i class="fa fa-twitter"></i> Twitter
    </a>
  </li>
  <li>
    <a href="{{ url_for('share_on_facebook', id=post.shortid) }}">
      <i class="fa fa-facebook"></i> Facebook
    </a>
  </li>
  <li><hr/></li>
  <li>
    <a href="{{ url_for('delete_by_id', id=post.shortid) }}"
       onclick="return window.confirm('Delete {{post.post_type}} {{ post.title or post.content | truncate(30) | replace("'", "_") | replace("\"", "_") }}?')">Delete</a>
   </li>
</ul>

{% endif %}
