<div class="contact h-card">
  {% if contact.image %}
  <img class="u-photo" src="{{contact.image|imageproxy}}"/>
  {% endif %}

  <div class="text">
  <span class="p-name">{{ contact.name }}</span>

  {% for nick in contact.nicks %}
    <a href="{{ url_for('contact_by_name', name=nick.name) }}">@{{ nick.name }}</a>
  {% endfor %}

  <br/>

  <a class="u-url" href="{{ contact.url }}"><i class="fa fa-globe"></i> {{ contact.url | prettify_url }}</a><br/>

  {% if 'twitter' in contact.social %}
  <a href="https://twitter.com/{{contact.social['twitter']}}"> <i class="fa fa-twitter"></i> {{ contact.social['twitter'] }}</a><br/>
  {% endif %}

  {% if 'facebook' in contact.social %}
  <a href="https://facebook.com/{{contact.social['facebook']}}"> <i class="fa fa-facebook"></i> {{ contact.social['facebook'] }}</a><br/>
  {% endif %}

{% if current_user.is_authenticated() %}

  <a href="{{ url_for('edit_contact', id=contact.id) }}">Edit</a> &bull;
  <a href="{{ url_for('delete_contact', id=contact.id) }}">Delete</a>

{% endif %}
  </div>


  <div class="clearfix"></div>
</div>
