<div class="h-card">
  <img class="u-photo" src="{{ url_for('static', filename='img/users/kyle_large.jpg') }}"/>
  <p class="p-note">
    Hi, I'm <span class="p-name" value="Kyle Mahan"><a class="u-url" href="http://kylewm.com" rel="me">Kyle</a></span>,
    a software developer in <a class="p-adr" href="http://www.openstreetmap.org/?node=150942279#map=19/37.58410/-122.36642">Burlingame, CA</a>.
    I'm passionate about open source and owning my own data (but the silos can borrow it).
    I live with a <a href="http://www.flickr.com/photos/kindofblue115/5003013631/">cat</a> and a <a href="http://instagram.com/onepercolated">Kristen</a>.
  </p>
  <p>
    You can usually find me on <a rel="me" href="gtalk:kyle.mahan@gmail.com">gtalk</a> or
    <a rel="me" href="irc://freenode.net/kylewm,isnick">irc</a>, send me an
    <a class="u-email" rel="me" href="mailto:kyle@kylewm.com">email</a>
    (my pgp <a class="u-key" rel="key" type="application/pgp-keys" href="{{url_for('static', filename='kyle-mahan-public-key.asc')}}">public key</a> and <a rel="pgp-fingerprint" href="https://twitter.com/kyle_wm/status/454668100873379842">fingerprint</a>),
    or <a rel="me" href="sms:+14152714001">text</a>; see my projects on
    <a rel="me" href="https://github.com/kylewm">github</a>; follow me on
    <a rel="me" href="https://twitter.com/kyle_wm">twitter</a> or
    <a rel="me" href="https://www.facebook.com/kyle.mahan">facebook</a>; see lots of older photos on
    <a rel="me" href="http://www.flickr.com/photos/kindofblue115/">flickr</a>; or endorse me in a skill I probably don't have on
    <a rel="me" href="http://www.linkedin.com/pub/kyle-mahan/3/207/349">linkedin</a>.
  </p>
</div>
