<div class="h-card">
  <img class="u-photo" src="{{ url_for('static', filename='img/users/kyle_large.jpg') }}"/>
  <p class="p-note">
    Hi, I'm <span class="p-name" value="Kyle Mahan"><a class="u-url" href="http://kylewm.com" rel="me">Kyle</a></span>,
    a software developer in <a class="p-adr" href="http://www.openstreetmap.org/?node=150942279#map=19/37.58410/-122.36642">Burlingame, CA</a>.
    I'm passionate about open source and owning my own data (but the silos can <a href="http://indiewebcamp.com/POSSE">borrow it</a>).
    I live with a <a href="http://www.flickr.com/photos/kindofblue115/5003013631/">cat</a> and a <a href="http://instagram.com/onepercolated">Kristen</a>.
  </p>
  Elsewhere: <a rel="me" href="gtalk:kyle.mahan@gmail.com"><i class="fa fa-google"></i>&nbsp;GChat</a>,
  <a rel="me" href="irc://freenode.net/kylewm,isnick"><i class="fa fa-comments-o"></i>&nbsp;IRC</a>,
  <a class="u-email" rel="me" href="mailto:kyle@kylewm.com"><i class="fa fa-envelope-o"></i>&nbsp;Email</a> (<a class="u-key" rel="key publickey pgpkey" type="application/pgp-keys" href="{{url_for('static', filename='kyle-mahan-public-key.asc')}}">Key</a><a rel="pgp-fingerprint" href="https://twitter.com/kyle_wm/status/454668100873379842"></a>),
  <a rel="me" href="https://github.com/kylewm"><i class="fa fa-github"></i>&nbsp;GitHub</a>,
  <a rel="me" href="https://twitter.com/kyle_wm"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>,
  <a rel="me" href="https://www.facebook.com/kyle.mahan"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>,
  <a rel="me" href="http://www.flickr.com/photos/kindofblue115/"><i class="fa fa-flickr"></i>&nbsp;Flickr</a>,
  <a rel="me" href="http://www.linkedin.com/pub/kyle-mahan/3/207/349"><i class="fa fa-linkedin"></i>&nbsp;LinkedIn</a>,
  <a rel="payment me" href="https://venmo.com/kyle-mahan"><i class="fa fa-money"></i>&nbsp;Venmo</a>
</div>
