{% for context in post.like_contexts %}
  {% if True %}
    <div class="p-name">
      Liked
      <a class="u-like u-like-of" href="{{context.permalink}}">
        {{ context.title_or_url }}
      </a>
      {% if context.author_name %}
        by {{context.author_name}}
      {% endif %}
      on {{context.permalink|domain_from_url}}
    </div>
  {% else %}
    <div class="p-like p-like-of h-cite">
      Liked
      <a class="u-url" href="{{context.permalink}}">
        {{ context.title_or_url }}
      </a>
      {% if context.author_name %}
        by <a class="p-author h-card" href="{{context.author_url}}">
        <img class="u-photo" src="{{ context.author_image | imageproxy(24) }}" alt="{{context.author_name}}" />
        <span class="p-name">{{context.author_name}}</span>
      </a>
      {% endif %}
      from {{context.permalink | domain_from_url}}

      {% if context.content %}
        <div class="e-content">{{context.content | safe}}</div>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
