{% macro author_image(image_url, alt_text, author_url=None) %}
  <div class="author-image-holder">
    <img class="u-photo" src="{% if image_url %}{{ image_url | local_mirror }}{% else %}{{ url_for('static', filename='img/users/placeholder.png') }}{% endif %}"
         alt="{{alt_text}}"/>
    {% if author_url %}
    <div>
    <a class="u-url" href="{{author_url}}">
      {{ alt_text }}
    </a>
    </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro author_image_likes(image_url, alt_text, title) %}<img
   class="author-image-likes u-photo"
   src="{% if image_url %}{{ image_url | local_mirror }}{% else %}{{ url_for('static', filename='img/users/placeholder.png') }}{% endif %}"
   alt="{{alt_text}}"
   title="{{title}}"/>{% endmacro %}
