
<article class="{%if article_class%}{{article_class}} {%endif%} {{post.post_type}}">

  <div class="post-metadata">
      <a class="u-url" href="{{post.permalink}}">
        <time class="dt-published" datetime="{{post.pub_date_iso}}">{{post.pub_date_human}}</time>
      </a>

      {% if current_user.is_authenticated() %}
        <a class="admin-post-controls-arrow" href="#"> | Admin </a>
        <span class="admin-post-controls" style="display:none;">
          | <a href="{{ url_for('edit_by_id', id=post.shortid) }}"><i class="fa fa-edit"></i> Edit </a>
          |
          <a href="{{ url_for('share_on_twitter', id=post.shortid) }}"><i class="fa fa-twitter"></i> Twitter </a>
          |
          <a href="{{ url_for('share_on_facebook', id=post.shortid) }}"><i class="fa fa-facebook"></i> Facebook </a>
          |
          <a href="{{ url_for('delete_by_id', id=post.shortid) }}" onclick="return window.confirm('Delete {{post.post_type}}?')">
            <i class="fa fa-trash-o"></i> Delete </a>
        </span>
      {% endif %}
  </div>

  {% include "_contexts.html" %}

  {% if post.title %}
    <h1 class="p-name">{{post.title}}</h1>
  {% endif %}

  <div class={% if post.title %}"e-content"{% else %}"p-name e-content"{% endif %}>
    {{post.content}}

    {% for photo in post.photos %}
      <div class="photo-holder">
        <a href="{{photo.url}}">
          <img class="u-photo" src="{{photo.thumbnail}}" />
        </a>
        {% if photo.caption %}
          <div class="caption">{{ photo.caption | safe }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if post.post_type == 'checkin' and post.location %}
    <div class="map"
         data-latitude="{{post.location.latitude}}"
         data-longitude="{{post.location.longitude}}"
         data-location="{{post.location.name}}">
    </div>
  {% endif %}

  <div class="post-metadata">

    {% if post.location %}
      <div class="location">
        <i class="fa fa-map-marker"></i>
        <a class="p-location h-geo" href="{{post.location_url}}" title="{{post.location.latitude}},{{post.location.longitude}}">
          <data class="p-latitude" value="{{post.location.latitude}}"></data>
          <data class="p-longitude" value="{{post.location.longitude}}"></data>
          <span class="p-name">
            {{post.location.geo_name}}
          </span>
        </a>
      </div>
    {% endif %}

    {% if not is_single %}
      <div class="mention-counts">
        {% if post.reply_count %}
          <a href="{{ post.permalink }}#replies"><i class="fa fa-comment-o"></i> {{ post.reply_count }} Repl{{ post.reply_count | pluralize('y', 'ies')}}</a>
        {% endif %}
        {% if post.like_count %}
          <a href="{{ post.permalink }}#likes"><i class="fa fa-star-o"></i> {{ post.like_count }} Like{{ post.like_count | pluralize }}</a>
        {% endif %}
        {% if post.repost_count %}
          <a href="{{ post.permalink }}#reposts"><i class="fa fa-retweet"></i> {{ post.repost_count }} Repost{{ post.repost_count | pluralize }}</a>
        {% endif %}
        {% if post.reference_count %}
          <a href="{{ post.permalink }}#references"><i class="fa fa-ellipsis-h"></i> {{ post.reference_count }} Reference{{ post.reference_count | pluralize }}</a>
        {% endif %}
      </div>
    {% endif %}

    {% if is_single and post.tags %}
      <div class="tags">
        Tags
        {% for tag in post.tags %}
          <a class="p-category" href="{{url_for('posts_by_tag', tag=tag)}}">{{tag}}</a>
        {% endfor %}
      </div>
    {% endif %}

    {% if is_single %}
      <div class="syndication-links">
        {% if post.syndication %}
          Also on
          {% for s in post.syndication %}
            {{ s | safe }}
          {% endfor %}
          {% if post.reply_url or post.retweet_url or post.favorite_url %} | {% endif %}
        {% endif %}

        <span class="webactions">
          <action do="reply" with="{{post.permalink}}">
            {% if post.reply_url %}<a href="{{post.reply_url}}">Reply</a>{% endif %}
          </action>
          <action do="repost" with="{{post.permalink}}">
            {% if post.retweet_url %}<a href="{{post.retweet_url}}">Retweet</a>{% endif %}
          </action>
          <action do="favorite" with="{{post.permalink}}">
            {% if post.favorite_url %}<a href="{{post.favorite_url}}">Favorite</a>{% endif %}
          </action>
        </span>
      </div>
    {% endif %}

  </div> <!-- .post-metadata -->
  {% include "_post_mentions.html" %}

</article>
