{% from '_macros.html' import author_image, author_image_likes %}
<div class="mentions">

  <a name="mentions"></a>

  {% set likes = post.likes %}
  {% set reposts = post.reposts %}

  {% if likes or reposts %}
    <div class="likes-and-reposts">
      {% if likes %}
        <div class="likes">
          <a name="likes"></a>
          <i class="fa fa-star-o"></i>
          {% for like in likes %}
            {% set img_title = like.content | format_as_text(like.content_format) | trim %}
            <a href="{{ like.permalink }}">
              {{ author_image_likes(like.author_image, like.author_name, like.author_name + ' ' + img_title) }}</a>
            {% endfor %}
        </div>
      {% endif %}

      {% if reposts %}
        <div class="reposts">
          <a name="reposts"></a>
          <i class="fa fa-retweet"></i>
          {% for repost in reposts %}
            {% set img_title = repost.content | format_as_text(repost.content_format) | trim %}
            <a href="{{ repost.permalink }}">{{ author_image_likes(repost.author_image, repost.author_name, repost.author_name + ' ' + img_title) }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% set replies = post.replies %}
  {% if replies %}
    <div class="replies">
      <a name="replies"></a>
      <b>Replies</b>
      {% for reply in replies %}
        <div class="p-comment h-cite">
          <div class="p-author h-card">

            <div class="author-image-holder">
              {{ author_image(reply.author_image, reply.author_name) }}
            </div>

            <i class="fa fa-reply"></i>
	    {% if reply.author_name and reply.author_url %}
              <a class="p-name u-url" href="{{reply.author_url}}">{{ reply.author_name }}</a>
            {% elif reply.author_name %}
              <span class="p-name">{{ reply.author_name}}</span>
            {% elif reply.author_url %}
              <a class="u-url" href="{{reply.author_url}}">{{ reply.author_url | prettify_url }}</a>
            {% endif %} /
	    <time class="dt-published" datetime="{{ reply.pub_date | isotime }}">
	      <a class="u-url" href="{{ reply.permalink }}">{{ reply.pub_date | human_time }}</a>
	    </time>
	    said
          </div>

          <div class="e-content">
            <!-- start of foreign content -->
            {{ reply.content | safe }}
            <!-- end of foreign content -->
          </div>

          <div style="clear:both"></div>
        </div>
      {% endfor %}
    </div>
  {% endif %}


  {% set references = post.references %}
  {% if references %}
    <div class="references">
      <a name="references"></a>
      <h4>References</h4>
      {% for reference in references %}
        <p>
          <i class="fa fa-ellipsis-h"></i> <a href="{{ reference.permalink }}">{{ reference.permalink | prettify_url }}</a>
        </p>
      {% endfor %}
    </div>
  {% endif %}

</div>
