{% if is_single and post.mentions %}
  <div class="mentions replies">
    <a name="mentions"></a>

    {% for reply in post.mentions %}
      <div class="p-comment h-cite {{reply.reftype}}">

        <span class="p-author h-card microcard">
        <img class="u-photo" src="{{reply.author_image}}", alt="{{reply.author_name}}" />
	  {% if reply.author_name and reply.author_url %}
            <a class="p-name u-url" href="{{ reply.author_url }}">
              {{ reply.author_name }}
            </a>
          {% elif reply.author_name %}
            <span class="p-name">{{ reply.author_name }}</span>
          {% elif reply.author_url %}
            <a class="u-url" href="{{ reply.author_url }}">
              {{ reply.author_url | prettify_url }}
            </a>
          {% endif %}
        </span>

        {% if reply.reftype == 'reply' %}
          <div class="e-content">
            <!-- start of foreign content -->
            {{ reply.content | safe }}
            <!-- end of foreign content -->
          </div>

        {% elif reply.reftype == 'like' %}
          <span class="e-content">
            {% if reply.content %}
              {{ reply.content | safe }}
            {% else %}
              liked this.
            {% endif %}
          </span>

        {% elif reply.reftype == 'repost' %}
          <span class="e-content">
            {% if reply.content %}
              {{ reply.content | safe }}
            {% else %}
              reposted this.
            {% endif %}
          </span>

        {% else %}
          <span class="e-content">
            referenced this: <a href="{{reply.permalink}}">{{ reply.title or (reply.permalink|prettify_url) }}</a>.
          </span>

        {% endif %}

        <div class="post-metadata">
          {% if reply.reftype == 'reply' %}
          <time class="dt-published" datetime="{{reply.pub_date_iso }}">
	    <a class="u-url" href="{{ reply.permalink }}">
              {{ reply.pub_date_human}}
            </a>
          </time>
          {% endif %}
          on <a class="u-url" href="{{reply.permalink}}">{{reply.permalink | domain_from_url }}</a>
          {% if reply.children %}
            {% for child in reply.children %}
              {{ child | safe}}
            {% endfor %}
          {% endif %}


        </div> <!-- .post-metadata -->

      </div> <!-- .p-comment -->
    {% endfor %}
  </div>
{% endif %}
