<article class="{%if article_class%}{{article_class}} {%endif%}{{post.post_type}}{%if post.post_type != 'article'%} note-like{%endif%}">
  {% include "_reply_contexts.html" %}
  {% include "_like_contexts.html" %}
  {% include "_bookmark_contexts.html" %}
  {% include "_repost_contexts.html" %}

  {% if post.title %}
    <h1 class="p-name">{{post.title}}</h1>
  {% endif %}
  {% if post.photos or post.content %}
    <div class="{% if not post.title %}p-name {% endif %}e-content">
      <div class="primary-content">{{post.content_html | safe}}</div>
      {% for photo in post.photos %}
        <div class="photo-holder">
          <a href="{{photo.url}}">
            <img class="u-photo" src="{{photo.thumbnail}}" />
          </a>
          {% if photo.caption %}
            <div class="caption">{{ photo.caption | safe }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if post.post_type == 'checkin' and post.location %}
    <div class="map"
         data-latitude="{{post.location.latitude}}"
         data-longitude="{{post.location.longitude}}"
         data-location="{{post.location.name}}">
    </div>
  {% endif %}
  {% if post.tags %}
    <div class="tags">
      {% for tag in post.tags %}
        <a class="p-category" href="{{url_for('posts_by_tag', tag=tag)}}">{{tag}}</a>
      {% endfor %}
    </div>
  {% endif %}
  <div class="post-metadata">
    {% if post.location %}
      <div class="location metadata-component">
        <i class="fa fa-map-marker"></i>
        <a class="p-location h-geo" href="{{post.location_url}}" title="{{post.location.latitude}},{{post.location.longitude}}">
          <data class="p-latitude" value="{{post.location.latitude}}"></data>
          <data class="p-longitude" value="{{post.location.longitude}}"></data>
          <span class="p-name">
            {{post.location.geo_name}}
          </span>
        </a>
      </div>
    {% endif %}
    <div class="metadata-component">
      <a class="u-url" href="{{post.permalink}}">
        <time class="dt-published" datetime="{{post.published | isotime}}">{{post.published | human_time}}</time>
      </a>
    </div>
    {% if is_single and post.syndication %}
      <div class="syndication-links metadata-component">
        Also on
        {% for s in post.syndication %}
          {{ s | format_syndication_url }}
        {% endfor %}
      </div>
    {% endif %}
      {% if is_single %}
    <div class="webactions metadata-component">
      <indie-action do="reply" with="{{post.permalink}}">
        {% if post.reply_url %}<a href="{{post.reply_url}}">Reply</a>{% endif %}
      </indie-action>
      <indie-action do="repost" with="{{post.permalink}}">
        {% if post.retweet_url %}<a href="{{post.retweet_url}}">Retweet</a>{% endif %}
      </indie-action>
      <indie-action do="favorite" with="{{post.permalink}}">
        {% if post.favorite_url %}<a href="{{post.favorite_url}}">Favorite</a>{% endif %}
      </indie-action>
    </div>
    {% endif %}

    {% if not is_single %}
      <div class="mention-counts metadata-component">
        {% if post.replies %}
          <a href="{{ post.permalink }}#mentions"><i class="fa fa-comment-o"></i> {{ post.replies | count }} Repl{{ post.replies | count | pluralize('y', 'ies') }}</a>
        {% endif %}
        {% if post.likes %}
          <a href="{{ post.permalink }}#mentions"><i class="fa fa-star-o"></i> {{ post.likes | count }} Like{{ post.likes | count | pluralize }}</a>
        {% endif %}
        {% if post.reposts %}
          <a href="{{ post.permalink }}#mentions"><i class="fa fa-retweet"></i> {{ post.reposts | count }} Repost{{ post.reposts | count | pluralize }}</a>
        {% endif %}
        {% if post.references %}
          <a href="{{ post.permalink }}#mentions"><i class="fa fa-ellipsis-h"></i> {{ post.references | count }} Reference{{ post.references | count | pluralize }}</a>
        {% endif %}
      </div>
    {% endif %}

    {% if is_single %}
      {% include "_admin_post_controls.html" %}
    {% endif %}

  </div> <!--  .post-metadata -->

  {% if is_single and post.mentions %}
    <div class="mentions replies">
      <a name="mentions"></a>
      {% for mention in post.mentions %}
        {% include "_post_mention.html" %}
      {% endfor %}
    </div>
  {% endif %}

</article>
