{% for context in post.reply_contexts %}
  <div class="p-in-reply-to h-cite">
    <i class="fa fa-reply"></i> In reply to
    {% if context.author_name %}
      <a class="p-author h-card" href="{{context.author_url}}">
        <img class="u-photo" src="{{context.author_image | mirror_image(24)}}" alt="{{context.author_name}}" />
        <span class="p-name">{{context.author_name}}</span>
      </a> in
    {% endif %}
    <a class="u-url" href="{{context.permalink}}">
      {{ context.title_or_url }}
    </a>
    on {{context.permalink | domain_from_url}}
    {% if is_single and context.content %}
      <div class="e-content">{{context.content | safe}}</div>
    {% endif %}
  </div>
{% endfor %}
