<article class="{%if article_class%}{{article_class}} {%endif%}share note-like">
  <div class="post-metadata">
  </div>
  {% for context in post.repost_contexts %}
    <div class="repost-entry">
      <div class="p-author h-card">
        {% if context.author_image %}
          <img class="u-photo" src="{{ context.author_image | mirror_image(64) }}" alt="{{context.author_name}}" />
        {% endif %}
        {% if context.author_name %}
          <i class="fa fa-retweet"></i>
          <a class="p-name u-url" href="{{context.author_url}}">
            <span class="p-name">{{context.author_name}}</span>
          </a> {{context.permalink | domain_from_url}}
        {% endif %}
      </div>
      <div class="repost-body">
        {% if context.content %}
          <div class="e-content primary-content">{{context.content | safe}}</div>
        {% endif %}
        <div class="post-metadata">
          <span>
            <a class="u-repost-of" href="{{context.permalink}}">
              <time class="dt-published" datetime="{{context.published | isotime}}">{{context.published | human_time}}</time></a>
            <a class="u-url" href="{{ post.permalink }}">#</a>
            {% include "_admin_post_controls.html" %}
          </span>
        </div> <!-- .post-metadata -->
      </div> <!-- .repost-body -->
    </div> <!-- .repost-entry -->
  {% endfor %}
</article>
