{% if post.audience %}
<div class="audience">
  shared with:
  {% for recipient in post.audience %}
    <a href="{{ recipient }}">{{ recipient | prettify_url }}</a>
  {% endfor %}
</div>
{% endif %}

<a class="u-url" href="{{ post.permalink }}"><time class="dt-published" datetime="{{ post.pub_date | isotime }}">{{ post.pub_date | human_time }}</time></a>
{% if post.location %}
at <a href="http://www.openstreetmap.org/#map=18/{{post.location.latitude}}/{{post.location.longitude}}">{{post.location.name or 'Unnamed place'}}</a>
{% endif %}
