{% if authenticated %}
  <div>
    Share on
    <a href="{{ url_for('share_on_twitter', id=post.shortid) }}">
      <i class="fa fa-twitter"></i> Twitter
    </a>
    &nbsp;
    <a href="{{ url_for('share_on_facebook', id=post.shortid) }}">
      <i class="fa fa-facebook"></i> Facebook
    </a>
  </div>
{% endif %}

{% if post.twitter_url or post.facebook_url %}
  <div>
    View on
    {% if post.twitter_url %}
      <a rel="syndication" class="u-syndication" href="{{ post.twitter_url }}">
        <i class="fa fa-twitter"></i> Twitter
      </a>
    {% endif %}
    {% if post.twitter_url and post.facebook_url %}
      &nbsp;
    {% endif %}
    {% if post.facebook_url %}
      <a rel="syndication" class="u-syndication" href="{{ post.facebook_url }}">
        <i class="fa fa-facebook"></i> Facebook
      </a>
    {% endif %}
  </div>
{% endif %}
