{% extends "base.html" %}

{% block content %}
  {% for year,months in years.items() %}

    <div>
      <span class="archive-year">{{ year }}</span>

      {% for month in months %}
        {% if month == expanded_month %}
          <span class="archive-month archive-month-current">
            {{ month | strftime("%b") }}
          </span>

        {% else %}
          <span class="archive-month">
            <a href="{{url_for('archive', year=month.year, month=month.month)}}">
              {{ month | strftime("%b") }}
            </a>
          </span>
        {% endif %}
      {% endfor %}
    </div>

  {% endfor %}

  {% if expanded_month %}
    <div class="h-feed">
      <h2 class="p-name">
        Kyle Mahan: Archive {{ expanded_month | strftime('%Y %B')}} </h2>
        {% for post in posts %}
          <div class="h-entry post">
            {% include "_reply_context.html" %}
            {% include "_share_context.html" %}
            {% include "_like_context.html" %}
            {% include "_post_content.html" %}
            <div class="links">
              {% include "_single_post_links.html" %}
            </div>
          </div>
        {% endfor %}
    </div>
  {% endif %}

{% endblock %}
