{% extends "skeleton.html" %}
{% block body %}

  <nav>
    <span class="site-title">{{ settings.site_title }}</span>
    <a href="{{url_for('index')}}">Stream</a>
    <a href="{{url_for('posts_by_type', plural_type='articles')}}">Articles</a>
    <a href="{{url_for('posts_by_type', plural_type='photos')}}">Photos</a>
    <a href="{{url_for('posts_by_type', plural_type='bookmarks')}}">Bookmarks</a>
    <a href="{{url_for('posts_by_type', plural_type='checkins')}}">Check-ins</a>
    <a rel="feed" href="{{url_for('everything')}}">Everything</a>
    <a href="{{url_for('mentions')}}">Mentions</a>
    <a href="{{url_for('contacts')}}">Contacts</a>
  </nav>

  {% if current_user.is_authenticated() %}
    <div class="new-post-bar">
      <ul>
        <li><a href="{{ url_for('new_post', type='article') }}" id="new-article"><i class="fa fa-file-text-o"></i> Article</a></li>
        <li><a href="{{ url_for('new_post', type='note') }}" id="new-note"><i class="fa fa-file-o"></i> Note</a></li>
        <li><a href="{{ url_for('new_post', type='photo') }}" id="new-photo"><i class="fa fa-camera"></i> Photo</a></li>
        <li><a href="{{ url_for('new_post', type='reply') }}" id="new-reply"><i class="fa fa-comment-o"></i> Reply</a></li>
        <li><a href="{{ url_for('new_post', type='share') }}" id="new-share"><i class="fa fa-retweet"></i> Share</a></li>
        <li><a href="{{ url_for('new_post', type='like') }}" id="new-like"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
        <li><a href="{{ url_for('new_post', type='bookmark') }}" id="new-bookmark"><i class="fa fa-bookmark"></i> Bookmark</a></li>
        <li><a href="{{ url_for('new_post', type='checkin') }}" id="new-checkin"><i class="fa fa-check"></i> Check-in</a></li>
      </ul>
    </div>
    <div id="composition-area">
    </div>
  {% endif %}

  <main class="main-content">
    <div class="flashes">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message | safe }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div> <!-- .flashes -->

    {% block content %}{% endblock content %}
    <div style="clear:both"></div>
  </main>

  <footer>

    <div class="social">
      <div class="p-author h-card">
        <img class="u-photo" alt="me" src="{{ settings.author_image }}"/>
        <a class="u-url" href="{{ settings.site_url }}"><span class="p-name">{{ settings.author_name }}</span></a>
      </div> <!-- .h-card -->
      {{ settings.author_bio | safe }}
    </div> <!-- .social -->

    <div style="clear:both"></div>

    <div class="site-info">
      <div class="login widget">
        {% if current_user.is_anonymous() %}
          <form id="indie_auth_form" action="{{url_for('login')}}" method="get">
            <input id="indie_auth_url" type="text" name="me" placeholder="yourdomain.com" />
            <input type="hidden" name="next" value="{{ request.path }}" />
            <button id="sign_in_button" type="submit">Sign In</button>
          </form>
        {% else %}
          {{ current_user.domain | prettify_url }} (<a href="{{ url_for('logout', next=request.path) }}">logout</a>)
        {% endif %}
      </div> <!-- .login -->
      <div>
        This site is powered by <a href="https://github.com/kylewm/redwind">Red Wind</a> and <a href="http://flask.pocoo.org/">Flask</a>. Proudly part of the <a href="http://indiewebcamp.com">#indieweb</a>. Want to leave a comment? Send me a <a href="{{url_for('receive_webmention')}}" rel="webmention">webmention</a>!
      </div>
      <div>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="{{ url_for('static', filename='img/cc-by.png') }}" /></a>
      </div>
    </div>
  </footer>

{% endblock body %}
