<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ settings.author_name }}{% if title %}: {{ title | truncate(50) }}{% endif %}</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% if atom_url and atom_title %}
      <link rel="feed alternate" type="application/atom+xml" href="{{atom_url}}" title="{{atom_title}}" />
    {% endif %}
    <link rel="feed" type="text/html" href="{{ url_for('.everything') }}" />

    {% if request.endpoint == 'index' and 'PUSH_HUB' in config %}
      <!-- PubSubHubbub Discovery -->
      <link rel="hub" href="{{ config['PUSH_HUB']}}" />
      <link rel="self" href="{{url_for('.index', _external=True)}}"/>
      <!-- End Of PubSubHubbub Discovery -->
    {% endif %}

    <link rel="webmention" href="{{ url_for('wm_receiver.receive_webmention') }}"/>
    <link rel="pingback" href="https://webmention.io/webmention?forward={{ url_for('wm_receiver.receive_webmention', _external=True) }}" />

    <link rel="openid.delegate" href="{{ settings.site_url }}" />
    <link rel="openid.server" href="https://indieauth.com/openid" />

    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <!-- <link rel="authorization_endpoint" href="https://indiecert.net/auth" /> -->
    <link rel="token_endpoint" href="{{ settings.site_url }}/token" />
    <link rel="micropub" href="{{ settings.site_url }}/micropub" />

    <link rel="me" href="ni:///sha-256;LXQj307VecrQ7BPxkMhuI-rM14CktmXjy16DjI0MMAE?ct=application/x-x509-user-cert">

    {% set user_img = url_for('static', filename='img/users/' + settings.avatar_prefix + '.' + settings.avatar_suffix) %}
    <link rel="shortcut icon" href="{{ user_img }}"/>
    <link rel="apple-touch-icon" href="{{ user_img }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ user_img | imageproxy(60) }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ user_img | imageproxy(76) }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ user_img | imageproxy(114) }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ user_img | imageproxy(152) }}"/>

    {% if settings.pgp_key_url %}
      <link rel="pgpkey" type="application/pgp-keys" href="{{ settings.pgp_key_url }}" />
    {% endif %}

    <link rel="meta" type="application/rdf+xml" title="Contact" href="/foaf.rdf" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') + '?version=2015-06-25' }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

  </head>
  {% block body %}
  {% endblock body %}
</html>
