{% extends "base.html" %}
{% block content %}
{% include "_contexts.html" %}

<form id="edit_form" method="POST" action="/save_{{edit_type}}" enctype="multipart/form-data">

  <data id="post_path" value="{{post.path}}" />
  <input type="hidden" id="post_id" name="post_id" value="{{ post.shortid or 'new' }}"/>
  <input type="hidden" id="post_type" name="post_type" value="{{ post.post_type }}"/>

  <input type="file" id="image_upload_button" name="photo" accept="image/*"></input>
  <ul id="uploads"></ul>

  {% block above_content %}{% endblock above_content %}

  {% block content_fields %}
    <label>Content</label>
    <textarea name="content" id="content" rows="3">{{ post.content or '' }}</textarea>
  {% endblock content_fields %}
  {% block below_content %}{% endblock below_content %}

  <label>Tags</label>
  <input type="text" name="tags" id="tags" placeholder="cats, python" value="{{ post.tags | join(', ') }}" />
  <div class="top_tags">
    {% for tag in top_tags %}
      <a href="#" class="top_tag">{{tag}}</a>
    {% endfor %}
  </div>

  <label><i class="fa fa-plus-square-o" id="syndication_expander"></i> Syndication</label>
  <textarea id="syndication_textarea" name="syndication">{{ post.syndication | join('\n') }}</textarea>

  <div class="clearfix">
    <input style="float: left;" type="submit" id="publish_button" value="Publish"/>
    <div style="float: left;">
      {% block additional_params %}{% endblock additional_params %}
      <input type="checkbox" id="inhibit_wms" name="inhibit_wms" value="true"/>
    </div>
  </div>

</form>
{% endblock  content %}
