{% extends "base.html" %}

{% block content %}

  <form id="edit_form" method="POST" action="/admin/save_{{edit_type}}" enctype="multipart/form-data">
    <data id="post_path" value="{{post.path}}">
    <input type="hidden" id="post_id" name="post_id" value="{{ post.shortid or 'new' }}"/>
    <input type="hidden" id="post_type" name="post_type" value="{{ post.post_type }}"/>

    <input style="padding: 10px 20px 10px 20px" type="submit" id="publish_button" value="Publish"/>
    <label><input type="checkbox" id="send_webmentions" name="send_webmentions" value="true" {% if not post.date_index %}checked{% endif %} />Send Webmentions</label>
    <label><input type="checkbox" id="send_push" name="send_push" value="true" {% if not post.date_index %}checked{% endif %} />Send PuSH</label>
    <label><input type="checkbox" id="hidden" name="hidden" value="true"{% if post.hidden %} checked{% endif %} />Hidden from stream</label>
    <label><input type="checkbox" id="draft" name="draft" value="true"{% if post.draft %} checked{% endif %}/>Draft (only visible to author)</label><br/>

    {% if post.post_type == 'article' %}
      <div class="title">
        <label><span class="heading">Title</span><input id="title" name="title" size="60" value="{{ post.title or '' }}"/></label>
      </div>
      <div class="slug">
        <label><span class="heading">Slug</span><input id="slug" name="slug" size="60" value="{{ post.slug or ''}}"/></label>
      </div>
    {% endif %}

    {% if post.post_type == 'reply' %}
      <div class="in_reply_to">
        <label><span>In Reply To (URLs)</span>
          <textarea style="width:100%" name="in_reply_to" rows="2">{{post.in_reply_to | join('\n')}}</textarea>
        </label>
      </div>
    {% endif %}

    {% if post.post_type == 'share' %}
      <div class="repost_of">
        <label><span>Repost (URLs)</span>
          <textarea style="width:100%" name="repost_of" cols="50" rows="2">{{post.repost_of | join('\n')}}</textarea>
        </label>
      </div>
    {% endif %}

    {% if post.post_type == 'like' %}
      <div class="like_of">
        <label><span>Like of (URLs)</span>
          <textarea style="width:100%" name="like_of" cols="50" rows="2">{{post.like_of | join('\n')}}</textarea>
        </label>
      </div>
    {% endif %}

    <textarea name="content" id="content" style="width:100%" rows="{{ 30 if post.post_type == 'article' else 5 }}">{{ post.content }}</textarea>

    <label>Tags <input id="tags" name="tags" type="text" size="30" value="{{ post.tags | join(' ') }}"/></label>

    <div class="location">
      <input type="button" id="get_coords_button" value="Location:"/>
      <label>Lat <input id="latitude" name="latitude" size="10" value="{{ post.location.latitude if post.location else ''}}"/></label>
      <label>Long <input id="longitude" name="longitude" size="10" value="{{ post.location.longitude if post.location else ''}}"/></label>
      <label>Name <input id="location_name" name="location_name" size="21" value="{{ post.location.name if post.location else ''}}"/></label>
    </div>

    <label>
      <input type="file" name="files" accept="image/*" multiple></input>
    </label>

    <div class="syndication">
      <label><span>Syndication (URLs)</span>
        <textarea style="width:100%" name="syndication" cols="50" rows="2">{{ post.syndication | join('\n') }}</textarea>
      </label>
    </div>

    <div class="audience">
      <label><span>Audience</span>
        <textarea style="width:100%" name="audience" cols="50" rows="2">{{ post.audience | join('\n') }}</textarea>
      </label>
    </div>

  </form>

  <!--
  <form id="image_upload">
    <label>
      <input type="file" id="image_upload_button" accept="image/*"></input>
    </label>
  </form>
  <ul id="result"></ul>
  <script type="text/javascript" src="{{url_for('static', filename='js/editor.js')}}"></script>
  -->

{% endblock %}
