{% extends "base.html" %}
{% block content %}

{% if not current_user.is_authenticated() %}
<div class="not-logged-in">
  You are not currently logged in. Feel free to poke around, but you won't be able to post anything without first authenticating as the blog owner.
</div>
{% endif %}

  {% with is_single = True %}
    {% include "_contexts.html" %}
  {% endwith %}

<form id="edit_form" method="POST" action="{{ settings.site_url }}/save_{{edit_type}}" enctype="multipart/form-data">

  {% for action in ['publish', 'publish+tweet', 'publish_quietly', 'save_draft'] %}
    <button type="submit" name="action" value="{{action}}">{{button_text[action]}}</button>
  {% endfor %}

  {% block above_content %}{% endblock above_content %}

  {% block content_fields %}
    <label>Content</label>
    <textarea name="content" id="content" rows="2">{{ post.content or '' }}</textarea>
  {% endblock content_fields %}
  {% block below_content %}{% endblock below_content %}

  <label>Tags</label>
  <input type="text" name="tags" id="tags" placeholder="cats, python" value="{{ post.tags | join(', ') }}" />
  <div class="top_tags">
    {% for tag in top_tags %}
      <a href="#" class="top_tag">{{tag}}</a>
    {% endfor %}
  </div>

  <label><i class="fa fa-plus-square-o" id="syndication_expander"></i> Syndication</label>
  <textarea id="syndication_textarea" name="syndication">{{ post.syndication | join('\n') }}</textarea>

  <data id="post_path" value="{{post.path}}" />
  <input type="hidden" id="post_id" name="post_id" value="{{ post.id or 'new' }}"/>
  <input type="hidden" id="post_type" name="post_type" value="{{ post.post_type }}"/>

  {% block file_upload %}
  <input type="file" id="image_upload_button" name="files" multiple="multiple" accept="image/*"></input>
  <ul id="uploads"></ul>
  {% endblock %}

  {% block additional_params %}{% endblock additional_params %}

</form>
{% endblock  content %}
