{% extends "base.html" %}
{% block content %}

<form method="POST">

  {% if contact.id %}
  <input name="id" type="hidden" value="{{contact.id}}"/>
  {% endif %}

  <label>URL</label>
  <input name="url" type="text" value="{{contact.url or ''}}" />

  <input type="button" id="fetch_profile" value="Fetch"/>

  <label>Name</label>
  <input name="name" type="text" value="{{contact.name or ''}}" />

  <label>Image</label>
  <input name="image" type="text" value="{{contact.image or ''}}" />

  <label>Nicks</label>
  <input name="nicks" type="text" value="{{ contact.nicks | map(attribute='name') | join(',') }}" />

  <label>Twitter</label>
  <input name="twitter" type="text" value="{{ (contact.social or {}).get('twitter', '') }}" />

  <label>Facebook</label>
  <input name="facebook" type="text" value="{{ (contact.social or {}).get('facebook', '') }}" />

  <input type="submit" />
</form>

{% endblock %}
