{% extends "edit_note.html" %}

{% block location_check %}
{% endblock %}

{% block above_content %}

  <div id="select_venue_holder">
    <a href="#" id="new_venue_expander">Create New</a>
    <label>Venue</label>
    <select id="venue" name="venue"></select>
  </div>
  <div id="new_venue_holder">
    <label>New Venue Name</label>
    <input type="text" id="new_venue_name" name="new_venue_name" />

    <label>New Venue Latitude</label>
    <input type="text" name="new_venue_latitude" id="new_venue_latitude" />

    <label>New Venue Longitude</label>
    <input type="text" name="new_venue_longitude" id="new_venue_longitude" />
  </div>

{% endblock above_content %}

{% block hidden_check %}
<label><input type="checkbox" id="hidden" name="hidden" value="true" {% if post.hidden %}checked{% endif %} /> Hidden from Stream</label>
{% endblock hidden_check %}

{% block other_resources %}

<script type="text/javascript">

function updateVenueList(lat, lng) {
    var xhr = Http.get('/services/nearby?latitude=' + lat + '&longitude=' + lng);
    Http.send(xhr).then(
        function (xhr) {
            var venueSelect = first('select#venue');
            var blob = JSON.parse(xhr.responseText);
            blob.venues.forEach(function (venue) {
                var venueNode = document.createElement('option');
                venueNode.setAttribute('value', venue.id);
                venueNode.appendChild(
                    document.createTextNode(venue.name + ': ' + venue.geocode));
                venueSelect.appendChild(venueNode);
            });
        },
        function (xhr) {

        });
}

var prevLat, prevLng, prevVenue;

{% if post.venue %}
  prevVenue = {{post.venue.id}};
  prevLat = {{post.venue.location.get('latitude')}};
  prevLng = {{post.venue.location.get('longitude')}};
{% elif post.location %}
  prevLat = {{post.location.get('latitude')}};
  prevLng = {{post.location.get('longitude')}};
{% endif %}

first('#new_venue_holder').style.display = 'none';
first('#new_venue_expander').addEventListener('click', function(event) {
    event.preventDefault();
    first('#select_venue_holder').style.display = 'none';
    first('#new_venue_holder').style.display = 'inherit';


    if (prevLat && prevLng) {
        first('#new_venue_latitude').value = prevLat;
        first('#new_venue_longitude').value = prevLng;
    } else {
        navigator.geolocation.getCurrentPosition(function (position) {
            first('#new_venue_latitude').value = position.coords.latitude;
            first('#new_venue_longitude').value = position.coords.longitude;
        });
    }
});


if (prevLat && prevLng) {
    updateVenueList(prevLat, prevLng);
}
else {
    navigator.geolocation.getCurrentPosition(function (position) {
        updateVenueList(position.coords.latitude, position.coords.longitude);
    });
}

</script>

{% endblock other_resources %}
