{% extends "base.html" %}
{% block content %}

  <form id="venue_form" action="" method="POST">

    <input type="submit" value="Save Venue" />

    <label>Venue</label>
    <input type="text" id="name" name="name" size="10" value="{{ venue.name or '' }}" />

    <label>Location</label>
    <input readonly="readonly" type="text" id="latitude" name="latitude" value="{{ venue.location.latitude if venue.location else ''}}" style="display:inline" />
    <input readonly="readonly" type="text" id="longitude" name="longitude" value="{{ venue.location.longitude if venue.location else ''}}" style="display:inline" />

    <label>Geocode</label>
    <input type="text" id="geocode" name="geocode" value="{{ (venue.location | geo_name) if venue.location else ''}}" />

  </form>

  <div class="map" id="venue-map">
  </div>

{% endblock content %}
