{% extends "base.jinja2" %}
{% from "_contexts.jinja2" import
  short_context, full_context %}
{% from "_macros.jinja2" import
  author_name, author_image, location, tags, actions, photos, checkin,
  repost_content, permalink_from_feed %}
{% from "_macros.jinja2" import
  admin with context %}

{% block body %}
  <body class="h-feed">


    <header>
      <ul>
        <li class="p-name">{{settings.site_title}}</li>
        <li><a href="{{ url_for('.index') }}">stream</a></li>
        <li><a href="{{ url_for('.posts_by_type', plural_type='articles') }}">articles</a></li>
        <li><a href="{{ url_for('.everything') }}">everything</a></li>
        <li><a href="{{ url_for('.tag_cloud') }}">tags</a></li>
      </ul>

      {% if current_user.is_authenticated() %}
        <ul>
          <li>new</li>
          {% for type in 'note', 'reply', 'like', 'share',
            'photo', 'checkin', 'bookmark', 'article': %}

            <li><a href="{{ url_for('admin.new_post', type=type) }}"
                   >{{type}}</a></li>
                 {% endfor %}
        </ul>
      {% endif %}

      {% if not current_user.is_anonymous() %}
        <div>logged in as <strong>{{ current_user.name }}</strong></div>
      {% endif %}

    </header>

    <main>

      {% if events %}
        <strong>upcoming events</strong>
        <div class="container">
          {% for event in events[:2] %}
            <div class="upcoming-event h-event">
              <a class="u-url" href="{{event.permalink}}">
                <time class="dt-start" datetime="{{event.start | isotime }}">
                  {{event.start | date}}
                </time>
                <div class="p-name">
                  {{event.title}}
                </div>
                <div class="p-location">
                  {{event.venue.name}}
                </div>
              </a>
            </div> <!-- .upcoming-event -->
          {% endfor %}
          {% if (events | length) > 2 %}
            <a href="{{ url_for('.posts_by_type', plural_type='events') }}">...more...</a>
          {% endif %}
        </div>
      {% endif %}


      {% for post in posts %}
        {% set date = post.published | date(first_only=True) %}
        {% if date %}
          <h1>{{ date }}</h1>
        {% endif %}

        <article class="post {{post.post_type}} {{post.mf2_type}}">
          {% for reply in post.reply_contexts %}
            {{ short_context(post, reply, 'u-in-reply-to', '<i class="fa fa-share"></i>') }}
          {% endfor %}
          {% for like in post.like_contexts %}
            {{ short_context(post, like, 'u-like-of', '<i class="fa fa-star-o"></i>') }}
          {% endfor %}
          {% for bookmark in post.bookmark_contexts %}
            {{ short_context(post, bookmark, 'u-bookmark-of', '<i class="fa fa-bookmark"></i>') }}
          {% endfor %}

          {% if post.post_type == 'event' %}
            <h2 class="p-name"><a href="{{post.permalink}}">{{ post.title }}</a></h2>
            <h3>{{ (post.start, post.end) | datetime_range }}</h3>
            <div class="e-content">
              {{ post.content_html | proxy_all | safe }}
            </div>
          {% elif post.post_type == 'article' %}
            <h2 class="p-name"><a href="{{post.permalink}}">{{ post.title }}</a></h2>
            <div class="e-content">
              {{ post.content_html | proxy_all | safe }}
            </div>
          {% elif post.post_type == 'share' %}
            {{ repost_content(post) }}
          {% elif post.post_type == 'checkin' %}
            <div class="e-content p-name">
              {{ post.content_html | proxy_all | safe }}
              {{ photos(post) }}
            </div>
          {% elif post.post_type == 'note' or post.post_type == 'reply' or post.post_type == 'photo' %}
            <div class="e-content p-name">
              {{ post.content_html | proxy_all | add_preview | safe }}
              {{ photos(post) }}
            </div>
          {% endif %}
          {{ location(post) }}
          {{ tags(post) }}
          {{ permalink_from_feed(post) }}
          {{ admin(post) }}
        </article>
      {% endfor %}

      {% if older %}
  <div class="pager">
    <a rel="previous" class="older" href="{{older}}">
      &larr; Older
    </a>
  </div>

{% endif %}

    </main>

    <footer>
      <input type="button" onclick="(function(btn){var z=document.createElement('script');document.subtomeBtn=btn;z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(this)" value="Subscribe">

      <div>
        {{ settings.author_bio }}
      </div>
      <div>
        <label>
          <form method="GET" action="{{url_for('.search')}}">
            <input name="q" style="width:150px" placeholder="search"/>
            <button type="submit" style="width:50px">Go</button>
          </form>
        </label>
      </div>
    </footer>
  </body>
{% endblock body %}
