{% extends "base.html" %}

{% block content %}
  {% for post in posts %}
    {% if post.post_type == 'share' %}
      {% include "_repost.html" %}
    {% else %}
      {% include "_post.html" %}
    {% endif %}
  {% endfor %}

  <div class="page-arrows clearfix">
    {% if prev_page %}
      <div class="page-left">
        <a href="{{ url_for_other_page( prev_page ) }}">&larr; Newer</a>
      </div>
    {% endif %}
    {% if next_page %}
      <div class="page-right">
        <a href="{{ url_for_other_page( next_page ) }}">Older &rarr;</a>
      </div>
    {% endif %}
  </div>

{% endblock content %}
