{% extends "base.html" %}
{% block head_content %}
  {% if is_twitter_user_agent %}
    <meta name="twitter:site" content="@kyle_wm"/>
    <meta name="twitter:creator" content="@kyle_wm"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ post.content | format_markdown_as_text | truncate(300) | replace('\n', '') }}"/>
    {% set img = post.first_image %}
    {% if img %}
      <meta name="twitter:card" content="photo"/>
      <meta name="twitter:image" content="{{img}}"/>
    {% else %}
      <meta name="twitter:card" content="summary"/>
    {% endif %}
  {% endif %}
  {% for reply in post.reply_contexts %}
    <link rel="in-reply-to" href="{{ reply.permalink or reply.source }}"/>
  {% endfor %}
{% endblock %}

{% block content %}

  <div class="post {{post.post_type}} h-entry {{ 'draft' if post.draft else '' }}">
    {% include "_hcard_author.html" %}

    {% include "_reply_context.html" %}
    {% include "_like_context.html" %}
    {% include "_share_context.html" %}
    {% include "_post_content.html" %}

    <div class="links">
      {% include "_admin_post_controls.html" %}
      {% include "_single_post_links.html" %}
      <div style="clear: both;"></div>
      {% include "_syndication_links.html" %}
    </div>

    {% include "_post_mentions.html" %}

    <form id="manual-webmention" method="POST" action="/webmention">
      Written a response?
      <input name="source" placeholder="Send me the link"/>
      <input name="target" type="hidden" value="{{post.permalink}}"/>
      <input type="submit" value="Send"/>
    </form>

  </div>

{% endblock content %}
