{% extends "base.jinja2" %}
{% from "_contexts.jinja2" import full_context %}
{% from "_macros.jinja2" import
author, location, tags, actions, permalink, photos, people,
  checkin, repost_content %}
{% from "_macros.jinja2" import
  admin with context %}


{% block body %}
<body class="{{post.mf2_type}}">
  <main>
    <a href="{{url_for('.index')}}">&larr; home</a>

    {% for reply_context in post.reply_contexts %}
      {{ full_context(post, reply_context, 'u-in-reply-to', 'in reply to') }}
    {% endfor %}

    <article class="prime {{post.post_type}}">
      {% if post.post_type == 'event' %}
        {{ author(settings.author_name, settings.site_url, settings.author_image, hidden=True) }}
        <h1 class="p-name">{{ post.title }}</h1>
        <h2>
          {{ (post.start, post.end) | datetime_range }}
        </h2>
        <div class="e-content">
          {{ post.content_html | proxy_all | safe }}
        </div>
      {% elif post.post_type == 'article' %}
        {{ author(settings.author_name, settings.site_url, settings.author_image, hidden=True) }}
        <h1 class="p-name">{{ post.title }}</h1>
        <div class="e-content">
          {{ post.content_html | proxy_all | safe }}
        </div>
        {{ actions(post) }}
      {% elif post.post_type == 'share' %}
        {{ author(settings.author_name, settings.site_url, settings.author_image, hidden=True) }}
        <div class="e-content p-name">
          {{ repost_content(post) }}
        </div>
      {% elif post.post_type == 'like' %}
        {{ author(settings.author_name, settings.site_url, settings.author_image, hidden=True) }}
        {% for like_context in post.like_contexts %}
          <span class="p-name"><i class="fa fa-star-o"></i> Liked</span>
          {{ full_context(post, like_context, 'u-like-of', 'liked') }}
        {% endfor %}
      {% elif post.post_type == 'bookmark' %}
        {{ author(settings.author_name, settings.site_url, settings.author_image, hidden=True) }}
        {% for bookmark_context in post.bookmark_contexts %}
          <span class="p-name"><i class="fa fa-bookmark"></i> Bookmarked</span>
          {{ full_context(post, bookmark_context, 'u-bookmark-of', 'bookmarked') }}
        {% endfor %}
      {% elif post.post_type == 'checkin' %}
        {{ author(settings.author_name, settings.site_url, settings.author_image, hidden=True) }}

        <div class="e-content p-name">
          {{ checkin(post) }}
          {{ post.content_html | proxy_all | safe }}
          {{ photos(post) }}
        </div>
        {{ actions(post) }}
      {% elif post.post_type == 'note' or post.post_type == 'reply' or post.post_type == 'photo' %}
        {{ author(settings.author_name, settings.site_url, settings.author_image) }}

        <div class="e-content p-name">
          {{ post.content_html | proxy_all | add_preview | safe }}
          {{ photos(post) }}
        </div>
        {{ actions(post) }}
      {% endif %}

      {{ location(post) }}
      {{ tags(post) }}
      {{ people(post) }}
      {{ permalink(post) }}
      {{ admin(post) }}
    </article>

    {% include "_post_mentions.jinja2" %}
  </main>

  <script src="{{ url_for('static', filename='indieconfig.js') }}"></script>
  <script src="{{ url_for('static', filename='webaction.js') }}"></script>

</body>
{% endblock body %}
