{% extends "base.html" %}
{% block head_content %}
  {% for reply in post.reply_contexts %}
    <link rel="in-reply-to" href="{{ reply.permalink or reply.source }}"/>
  {% endfor %}
{% endblock %}

{% block content %}

  <div class="post {{post.post_type}} h-entry {{ 'draft' if post.draft else '' }}">
    {% include "_hcard_author.html" %}

    {% include "_reply_context.html" %}
    {% include "_like_context.html" %}
    {% include "_share_context.html" %}
    {% include "_post_content.html" %}

    <div class="links">
      {% include "_admin_post_controls.html" %}
      {% include "_single_post_links.html" %}
      <div style="clear: both;"></div>
      {% include "_syndication_links.html" %}
    </div>

    {% include "_post_mentions.html" %}

    <form id="manual-webmention" method="POST" action="/webmention">
      Written a response?
      <input name="source" placeholder="Send me the link"/>
      <input name="target" type="hidden" value="{{post.permalink}}"/>
      <input type="submit" value="Send"/>
    </form>

  </div>

{% endblock content %}
