{% extends "skeleton.html" %}

{% block body %}
  {% for entry in feed %}
    <article class="h-entry" style="overflow: auto;">

      <div class="four columns" style="text-align: right;">
        {% if 'author' in entry %}
          <div class="p-author h-card">
            {% if 'photo' in entry['author'] %}
              <img class="avatar" src="{{entry['author']['photo']}}" /><br/>
            {% endif %}
            {% if 'name' in entry['author'] and 'url' in entry['author'] %}
              <a class="p-name u-url" href="{{ entry['author']['url'] }}">
                {{ entry['author']['name'] }}
              </a>
            {% elif 'name' in entry['author'] %}
              <span class="p-name">{{ entry['author']['name']}}</span>
            {% elif 'url' in entry['author'] %}
              <a class="u-url" href="{{entry['author']['url']}}">
                {{ entry['author']['url'] | prettify_url }}
              </a>
            {% endif %}
          </div>
        {% endif %}
        {% if 'url' in entry %}
          <div class="post-metadata">
            <a href="{{entry['url']}}">{{ entry['human-time'] }}</a>
          </div>
          <a href="{{ url_for('views.new_post', type='reply', url=entry['url'])}}">Reply</a>
          <a href="{{ url_for('views.new_post', type='like', url=entry['url'])}}">Like</a>
          <a href="{{ url_for('views.new_post', type='share', url=entry['url'])}}">Share</a>
        {% endif %}
      </div> <!-- .four.columns -->
      <div class="twelve columns">

        {% if 'name' in entry %}
          <h1 class="p-name">{{ entry['name'] }}</h1>
        {% endif %}

        {% if 'content' in entry %}
          <div class="e-content clearfix">
            {{ entry['content'] | safe }}
          </div>
        {% endif %}
      </div> <!-- .twelve.columns -->
    </article>
  {% endfor %}

{% endblock body %}
