{% extends "base.html" %}
{% block content %}

  <form method="POST">
    {% for s in raw_settings %}
      <label>{{ s.name }}</label>
      {% if s.key == 'author_bio' %}
        <textarea name="{{ s.key }}">{{ s.value or '' }}</textarea>
      {% else %}
        <input type="text" name="{{ s.key }}" value="{{ s.value or '' }}"></input>
      {% endif %}
    {% endfor %}
    <input type="submit"/>
  </form>

  <a href="{{ url_for('authorize_facebook') }}">Authorize Facebook</a><br/>
  <a href="{{ url_for('authorize_twitter') }}">Authorize Twitter</a>
{% endblock %}
