<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "custom_head_top.html" ignore missing with context %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ settings.author_name }}{% if title %}: {{ title | truncate(50) }}{% endif %}</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% if atom_url and atom_title %}<link rel="feed alternate" type="application/atom+xml" href="{{atom_url}}" title="{{atom_title}}" />{% endif %}
    <link rel="feed" type="text/html" href="{{ url_for('everything') }}" />

    {% if request.endpoint == 'index' %}
    <!-- PubSubHubbub Discovery -->
    <link rel="hub" href="http://kylewm.superfeedr.com/" />
    <link rel="self" href="{{url_for('index', _external=True)}}"/>
    <!-- End Of PubSubHubbub Discovery -->
    {% endif %}

    <link rel="webmention" href="{{ url_for('receive_webmention') }}"/>
    <link rel="pingback" href="https://webmention.io/webmention?forward={{ url_for('receive_webmention', _external=True) }}" />

    <link rel="openid.delegate" href="{{ settings.site_url }}" />
    <link rel="openid.server" href="https://indieauth.com/openid" />

    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="{{ settings.site_url }}/token" />
    <link rel="micropub" href="{{ settings.site_url }}/micropub" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/users/') }}{{ settings.avatar_prefix }}.{{ settings.avatar_suffix}}"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/users/') }}{{ settings.avatar_prefix }}.{{ settings.avatar_suffix}}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/users/') }}{{ settings.avatar_prefix }}60.{{ settings.avatar_suffix}}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/users/') }}{{ settings.avatar_prefix }}76.{{ settings.avatar_suffix}}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/users/') }}{{ settings.avatar_prefix }}114.{{ settings.avatar_suffix}}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/users/') }}{{ settings.avatar_prefix }}152.{{ settings.avatar_suffix}}"/>

    {% if settings.pgp_key_url %}
        <link rel="pgpkey" type="application/pgp-keys" href="{{ settings.pgp_key_url }}" />
    {% endif %}

    {% assets 'css_all' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% include "custom_head_bottom.html" ignore missing with context %}
  </head>
  <body class="container {%block body_class%}{% endblock %}">
    {% include "custom_body_top.html" ignore missing with context %}
    {% block body %}
    {% endblock body %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script type="text/javascript">
      window.SITE_ROOT = '{{ settings.site_url }}';
    </script>
    {% assets 'js_all' %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block other_resources %}{% endblock other_resources %}

    {% include "custom_body_bottom.html" ignore missing with context %}
  </body>
</html>
