<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

<h1>Webmention endpoint</h1>
<p>
  Sending a message to this endpoint is a simple way to notify my site
  that you have linked to it on your site.
</p>
<p>
  Learn more <a href="https://indiewebcamp.com/webmention">about
  webmentions on indiewebcamp.com</a>.
</p>

  </body>
</html>
