{% from "_macros.html" import author_image %}
{% for reply in post.reply_contexts %}

  <div class="reply-context">
    {% if (not reply.author_name and reply.permalink and reply.title) %}
      <i class="fa fa-share"></i>
      <time class="dt-published" datetime="{{ reply.pub_date | isotime }}">
	On <a rel="in-reply-to" class="u-url" href="{{ reply.permalink }}">{{ reply.pub_date | human_time }}</a>
      </time>
      <a rel="reply-to" class="u-in-reply-to" href="{{ reply.permalink }}">{{reply.title}}</a>

    {% else %}

      <div class="p-in-reply-to h-cite">
        <span class="p-author h-card">
          {{ author_image(reply.author_image, reply.author_name) }}

          <i class="fa fa-share"></i>
          In reply to
          {% if reply.author_name and reply.author_url %}
            <a class="p-name u-url" href="{{reply.author_url}}">{{ reply.author_name }}</a>,
          {% elif reply.author_name %}
            <span class="p-name">{{ reply.author_name}}</span>,
          {% elif reply.author_url %}
            <a class="u-url" href="{{reply.author_url}}">{{ reply.author_url | prettify_url }}</a>,
          {% endif %}
        </span>
        <time class="dt-published" datetime="{{ reply.pub_date | isotime }}">
          <a rel="in-reply-to" class="u-url" href="{{ reply.permalink }}">{{ reply.pub_date | human_time }}</a>
        </time>

        <div class="content">
          {%if reply.title %}
            <p class="p-name">{{ reply.title }}</p>
          {% endif %}
          {% set content_words = reply.content | format_as_text(reply.content_format) | wordcount %}
          {% if content_words < 100 %}
            <p class="e-content">
              {{ reply.content | format_as_html(reply.content_format) | bleach | safe }}
            </p>
          {% endif %}
        </div>

        <div style="clear: both"></div>
      </div>
    {% endif %}
  </div>
{% endfor %}
