{% extends "base.html" %}

{% block content %}

<div class="section group">
  <a href="{{ url_for('new_post', post_type='article') }}">New Article</a>
  {% for post in articles %}

  <div class="post {{post.post_type}}">
    <h2>{{ post.title }}</h2>
    <div class="date">
      <a href="{{ post.permalink_url }}">
        {{ post.pub_date | strftime('%Y %B %d') }}
      </a>
    </div>
    {{ post.html_excerpt }}      
    {% include "single_post_links.html" %}
  </div>

  {% endfor %}

  {% if pagination.has_prev %}
  <a href="{{ url_for( 'articles', page=pagination.prev_page) }}">&lt; Previous</a>
  {% endif %}
  {% if pagination.has_next %}
  <a href="{{ url_for( 'articles', page=pagination.next_page) }}">Next &gt;</a>
  {% endif %}
  
</div>

{% endblock content %}

