{% extends "base.html" %}

{% block content %}

<div class="section group">
  <a href="{{ url_for('new_post', post_type='article') }}">New Article</a>
  {% for post in articles %}
  {% include "single_article_excerpt.html" %}
  {% endfor %}

  {% if pagination.has_prev %}
  <a href="{{ url_for( 'articles', page=pagination.prev_page) }}">&lt; Previous</a>
  {% endif %}
  {% if pagination.has_next %}
  <a href="{{ url_for( 'articles', page=pagination.next_page) }}">Next &gt;</a>
  {% endif %}
  
</div>

{% endblock content %}

