<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kyle Mahan{% if title %}: {{ title }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="updates alternate" type="application/atom+xml" href="{{ url_for('updates_atom', _external=True) }}" title="Kyle Mahan: Updates" />
    <link rel="articles alternate" type="application/atom+xml" href="{{ url_for('articles_atom', _external=True) }}" title="Kyle Mahan: Articles" />
    <link rel="all alternate" type="application/atom+xml" href="{{ url_for('all_atom', _external=True) }}" title="Kyle Mahan: All" />

    <link rel="webmention" href="{{ url_for('receive_webmention', _external=True) }}"/>

    <link rel="openid.delegate" href="http://kylewm.com/" />
    <link rel="openid.server" href="https://indieauth.com/openid" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/users/kyle.jpg') }}"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/users/kyle.jpg') }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/users/kyle60.jpg') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/users/kyle76.jpg') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/users/kyle114.jpg') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/users/kyle152.jpg') }}"/>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">

    {% block head_content %}{% endblock %}
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <div id="wrapper">
      <header>
        {% if not authenticated %}
          <form id="indie_auth_form" action="http://indieauth.com/auth" method="get">
            <!-- <input id="indie_auth_url" type="text" name="me" placeholder="yourdomain.com" /> -->
            <input id="indie_auth_url" type="hidden" name="me" value="http://kylewm.com"/>
            <button id="sign_in_button" type="submit">Sign In</button>
            <input type="hidden" name="redirect_uri" value="{{ url_for('indie_auth', _external=True) }}" />
          </form>
        {% endif %}


        <nav>
          <ul>
            <li><span class="site-name">kylewm.com</span></li>
            <li><span class="site-name-separator">//</span></li>
            <li><a href="{{ url_for('index') }}">stream</a></li>
            <li><a href="{{ url_for('articles') }}">articles</a></li>
            <li><a href="{{ url_for('archive') }}">archive</a></li>

            {% if authenticated %}
              <li><a href="{{ url_for('settings') }}">settings</a></li>
              <li><a href="{{ url_for('logout') }}">logout</a></li>
            {% else %}
            {% endif %}
          </ul>

          {% if authenticated %}
            <ul>
              <li>new</li>
              <li>//</li>
              <li><a href="{{ url_for('new_post', type='article') }}">article</a></li>
              <li><a href="{{ url_for('new_post', type='note') }}">note</a></li>
              <li><a href="{{ url_for('new_post', type='reply') }}">reply</a></li>
              <li><a href="{{ url_for('new_post', type='share') }}">share</a></li>
              <li><a href="{{ url_for('new_post', type='like') }}">like</a></li>
            </ul>
          {% endif %}
        </nav>
      </header>

      <div class="flashes">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>

      <div id="content-area">
        {% block content %}{% endblock content %}
      </div>

      <footer>
        {% block footer %}{% endblock footer %}
        {% include "site_info.html" %}
      </footer>
    </div>

  </body>
</html>
