<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kyle Mahan{% if title %}: {{ title }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/col.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/3cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    
    <div class="site-heading section group">
      <span class="site-title"><a href="{{ url_for('index') }}">kylewm.com</a></span>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">home</a></li>
          <li><a href="{{ url_for('articles') }}">articles</a></li>
          <li><a href="{{ url_for('notes') }}">notes</a></li>
          {% if authenticated %}
          <li><a href="{{ url_for('new_post', post_type='article') }}">new article</a></li>
          <li><a href="{{ url_for('new_post', post_type='note') }}">new note</a></li>
          <li><a href="{{ url_for('logout') }}">logout</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">login</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    
    <div class="wrapper">

      <div class="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>

      <div class="section group">

        <!-- main content -->
        <div class="col span_2_of_3">

          {% block content %}{% endblock content %}
        </div>

        <!-- sidebar -->
        <div class="col span_1_of_3">

          {% include "hcard.html" %}

          {% if articles %}
          <div class="recent-articles">
            <b>Recent Articles</b>
            {% for article in articles %}
            <ul>
              <li>
                <a href="{{article.permalink_url}}">{{ article.title }}</a>
              </li>
            </ul>
            {% endfor %}
          </div>
          {% endif %}

          <footer>
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br/>
            Built with <a href="http://github.com/kylewm/groomsman">Groomsman</a>, powered by <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://www.responsivegridsystem.com/">Responsive Grid System</a>. Designed for the <a href="http://indiewebcamp.com">#indieweb</a>.
          </footer>
          
        </div>
      </div>
    </div>
      
    <script>
      <!--piwik here--> 
    </script>
  </body>
</html>
