{% extends "base.html" %}

{% block content %}
        
<!-- main content -->
<div class="col span_2_of_3">
  {% block content2 %}{% endblock content2 %}
</div>

<!-- sidebar -->
<div class="col span_1_of_3">
  <div class="sidebar">
    {% include "hcard.html" %}

    {% if articles %}
      <div class="recent-articles">
        <b>Recent Articles</b>
        {% for article in articles %}
          <ul>
            <li>
              <a href="{{article.permalink_url}}">{{ article.title }}</a>
            </li>
          </ul>
        {% endfor %}
      </div>
    {% endif %}

    {% include "footer.html" %}
  </div>
</div>

{% endblock %}
