<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kyle Mahan{% if title %}: {{ title }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/col.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/3cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    
    <div class="site-heading section group">
      <span class="site-title"><a href="{{ url_for('index') }}">kylewm.com</a></span>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">home</a></li>
          <li><a href="{{ url_for('articles') }}">articles</a></li>
          <li><a href="{{ url_for('notes') }}">notes</a></li>
        </ul>
      </nav>
    </div>
    
    <div class="wrapper">

      <div class="h-card section group">
        <img class="u-photo" src="http://www.gravatar.com/avatar/767447312a2f39bec228c3925e3edf74?s=64"/>
        <span class="p-name">Kyle Mahan</span> |
        <a class="p-adr" href="http://www.openstreetmap.org/?node=150942279#map=19/37.58410/-122.36642">Burlingame, CA</a> |
        <a class="u-url" href="http://kylewm.com">kylewm.com</a><br/>
        <div class="p-note">Software engineer, open source-enthusiast, bicycler</div>

        Social:
        <a class="u-email" href="mailto:kyle@kylewm.com">email</a> |
        <a rel="me" href="https://github.com/kylewm">github</a> | 
        <a rel="me" href="http://microca.st/kylewm">pump.io</a> |
        <a rel="me" href="http://old.quitter.se/kylewm">gnu social</a> |
        <a rel="me" href="https://twitter.com/kyle_wm">twitter</a> | 
        <a rel="me" href="http://www.flickr.com/photos/kindofblue115/">flickr</a> | 
        <a rel="me" href="http://www.linkedin.com/pub/kyle-mahan/3/207/349">linkedin</a>
      </div>

      {% block content %}{% endblock content %}

      <footer class="section group">
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br/>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.<br />
        Built with <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://www.responsivegridsystem.com/">Responsive Grid System</a>. Designed for the <a href="http://indiewebcamp.com">#indieweb</a>.
      </footer>

    </div>
    
    <script>
      <!--piwik here--> 
    </script>
  </body>
</html>
