{% extends "base.html" %}

{% block content %}

  <style type="text/css">
    .heading {
      width: 100px;
      display: inline-block;
    }
  </style>

  <form method="POST">
    <label><input type="checkbox" name="send_to_twitter" value="true" {% if False and post.id is none %}checked{% endif %}/>Share on Twitter</label>
    <label><input type="checkbox" name="send_to_facebook" value="true" {% if False and post.id is none %}checked{% endif %}/>Share on Facebook</label>

    <input style="float: right; padding: 10px;" type="submit" value="Submit Post"/>

    {% if post.post_type == 'article' %}
    <div class="title">
      <label><span class="heading">Title</span><input name="title" size="60" value="{{ post.title or '' }}"/></label>
    </div>
    <div class="slug">
      <label><span class="heading">Slug</span><input name="slug" size="60" value="{{ post.slug or ''}}"/></label>
    </div>
    {% endif %}

    {% if post.post_type == 'reply' %}
      <div class="in_reply_to">
        <label><span class="heading">In Reply To (URL)</span><input name="in_reply_to" size="60" value="{{post.in_reply_to or ''}}"/></label>
      </div>
    {% endif %}

    {% if post.post_type == 'share' %}
      <div class="repost_source">
        <label><span class="heading">Repost (URL)</span><input name="repost_source" size="60" value="{{post.repost_source or ''}}"/></label>
      </div>
    {% endif %}

    {% if post.post_type == 'like' %}
      <div class="like_of">
        <label><span class="heading">Like of (URL)</span><input name="like_of" size="60" value="{{post.like_of or ''}}"/></label>
      </div>
    {% endif %}

    <div class="content">
      <textarea name="content" rows="{{ 30 if post.post_type == 'article' else 5 }}" cols="80" style="width:100%">{{ post.content }}</textarea>
    </div>

    {% if advanced %}
      <div class="twitter_status_id">
        <label><span class="heading">Twitter Status ID</span><input name="twitter_status_id" size="60" value="{{post.twitter_status_id or ''}}"></label>
      </div>
      <div class="facebook_post_id">
        <label><span class="heading">Facebook Post ID</span><input name="facebook_post_id" size="60" value="{{post.facebook_post_id or ''}}"></label>
      </div>
    {% endif %}

    <div class="content_format">
      <label><span class="heading">Format</span>
        <select name="content_format">
          <option {% if post.content_format == "markdown" %}selected{% endif %}>markdown</option>
          <option {% if post.content_format == "plain" %}selected{% endif %}>plain</option>
          <option {% if post.content_format == "html" %}selected{% endif %}>html</option>
        </select>
      </label>
    </div>

  </form>

  <div class="upload_form" style="border: solid 1px #333; margin-top: 10px;">
    <b>Uploads:</b>
    <form name="upload" enctype="multipart/form-data">
      <input type="file" name="file" />
    </form>
    <div id="uploads">

    </div>
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/static/js/upload.js"></script>

{% endblock %}
