<html>
  <form>

    <table>
      <tr> <td>Title</td><td><input name="title" size="60" value="{{ post.title or '' }}"/></td> </tr>
      <tr> <td>Date:</td><td><input name="date" size="60" value="{{post.pub_date}}"/></td> </tr>
      <tr> <td>Slug:</td><td><input name="slug" size="60" value="{{post.slug or ''}}"/></td> </tr>
      <tr> <td>In Reply To:</td><td><input name="in_reply_to" size="60" value="{{post.in_reply_to or ''}}"/></td> </tr>
      <tr> <td>Repost:</td><td><input name="repost_source" size="60" value="{{post.repost_source or ''}}"/></td> </tr>
      <tr><td>Content:</td>
        <td>
          <textarea name="content" rows="30" cols="80">{{ post.content }}</textarea>
       </td>
    </tr>
    </table>

  </form>
</html>
