<div class="h-card">
  <img class="u-photo" src="http://www.gravatar.com/avatar/767447312a2f39bec228c3925e3edf74?s=64"/>
  <span class="p-name">Kyle Mahan</span><br/>
  Location: <a class="p-adr" href="http://www.openstreetmap.org/?node=150942279#map=19/37.58410/-122.36642">Burlingame, CA</a><br/>
  URL: <a class="u-url" href="http://kylewm.com">kylewm.com</a><br/>

  <div style="clear: both;">
    <span class="p-note">
      
    </span>
   
    Other me's:
    <a class="u-email" href="mailto:kyle@kylewm.com">email</a>
    <a rel="me" href="https://github.com/kylewm">github</a>
    <a rel="me" href="http://microca.st/kylewm">pump.io</a>
    <a rel="me" href="http://old.quitter.se/kylewm">gnusocial</a>
    <a rel="me" href="https://twitter.com/kyle_wm">twitter</a> 
    <a rel="me" href="http://www.flickr.com/photos/kindofblue115/">flickr</a>
    <a rel="me" href="http://www.linkedin.com/pub/kyle-mahan/3/207/349">linkedin</a>
  </div>
</div>
