<div class="h-card">
  <img class="u-photo" src="{{ url_for('static', filename='img/users/kyle_large.jpg') }}"/>

  <span class="p-name">Kyle Mahan</span> / <a class="u-url" href="http://kylewm.com">kylewm.com</a>

  <div>
    <span class="p-note">
      I'm a software developer in <a class="p-adr" href="http://www.openstreetmap.org/?node=150942279#map=19/37.58410/-122.36642">Burlingame, CA</a>.
      I live with a <a href="http://www.flickr.com/photos/kindofblue115/5003013631/">cat</a> and a Kristen.
    </span>
    You're welcome to contact me by <a class="u-email" rel="me" href="mailto:kyle@kylewm.com">email</a> (<a href="http://pool.sks-keyservers.net/pks/lookup?op=get&fingerprint=on&search=0xDFA5EF4D75D83FAE">my PGP key</a>) or <a rel="me" href="xmpp:kyle@kylewm.com">XMPP</a>; see my projects <a rel="me" href="https://github.com/kylewm">GitHub</a>; follow me on <a rel="me" href="https://twitter.com/kyle_wm">Twitter</a>;
    see lots of older photos on <a rel="me" href="http://www.flickr.com/photos/kindofblue115/">Flickr</a>;
    or endorse me in a skill I probably don't have on <a rel="me" href="http://www.linkedin.com/pub/kyle-mahan/3/207/349">LinkedIn</a>.
  </div>
</div>
