{% extends "base.html" %}

{% block content %}

<div class="section group">
  <div class="col span_2_of_3">
    {% if authenticated %}
    <a href="{{ url_for('new_post', post_type='article') }}">New Article</a>
    {% endif %}

    {% for post in articles %}
    {% include "single_article_excerpt.html" %}
    {% endfor %}  
  </div>

  <div class="col span_1_of_3">
    {% if authenticated %}
    <a href="{{ url_for('new_post', post_type='note') }}">New Note</a>
    {% endif %}
    {% for post in notes %}
    {% include "single_note.html" %}
    {% endfor %}  
  </div>
</div>

{% endblock content %}

