{% extends "base.html" %}

{% block head_content %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

{% endblock %}

{% block content %}


  <!-- experimental post type -->
  <div id="map" style="height:640px"> </div>

  <script type="text/javascript">

var map = L.map('map').setView([37.58410, -122.36642], 10);

L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: 'Map data &copy; OpenStreetMap contributors',
    maxZoom: 18
}).addTo(map);

{% for location in locations %}
  L.marker([{{location.lat}}, {{location.long}}], {"title" : "{{location.name}}"}).addTo(map);
{% endfor %}

  </script>


{% endblock %}
