{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<form method="POST" action="/admin/login">
    {{ form.csrf_token }}
    <label><span class="heading">{{ form.username.label }}: </span>{{ form.username() }}</label><br/>
    <label><span class="heading">{{ form.password.label }}: </span>{{ form.password() }}</label><br/>
    <label><span class="heading"></span>{{ form.remember() }} {{ form.remember.label }}</label><br/>
    <input type="submit"/>    
</form>


<form action="http://indieauth.com/auth" method="get">
  <label for="indie_auth_url">Web Address:</label>
  <input id="indie_auth_url" type="text" name="me" placeholder="yourdomain.com" />
  <p><button type="submit">Sign In</button></p>
  <input type="hidden" name="redirect_uri" value="http://kylewm.com/indieauth" />
</form>

{% endblock %}
