<div class="post {{post.post_type}} h-entry {{ 'draft' if post.draft and not ignore_draft else '' }}">
  {% include "reply_context.html" %}

  {% if post.title %}
    <h2 class="p-name">{{ post.title }}</h2>
    <div class="e-content">
      {{ post.html_content }}
    </div>
  {% else %}
    <div class="p-name e-content">
      {{ post.html_content }}
    </div>
  {% endif %}

  <div class="links">
    {% if post.mentions %}
      {% set reply_count = post.mentions | length %}
      <a href="{{ post.permalink_url }}#mentions">{{ reply_count }} {% if reply_count == 1 %}mention{% else %}mentions{% endif %}</a>
      <br/>
    {% endif %}
    {% include "single_post_links.html" %}
    {% include "syndication_links.html" %}
    {% include "admin_post_controls.html" %}
  </div>
</div>
