{% extends "base.html" %}

{% block content %}

  <div class="post {{post.post_type}} h-entry">

    <div class="p-author">
      <img class="u-photo" src="{{ url_for('static', filename='img/users/kyle.jpg', _external=True) }}"/>
      <span class="p-name">Kyle Mahan</span> / <a class="u-url" href="http://kylewm.com">kylewm.com</a>
    </div>

    {% if post.title %}
      <h2 class="p-name">{{ post.title }}</h2>
      <div class="e-content">
        {{ post.html_content }}
      </div>
    {% else %}
      <div class="p-name e-content">
        {{ post.html_content }}
      </div>
    {% endif %}

    {% include "single_post_links.html" %}

    {% if post.replies %}
      <div class="replies">
        <a name="replies"></a><b>Replies</b>
        {% for reply in post.replies %}
          <div class="p-comment">
            <p class="e-content">{{ reply.content }}</p>
            <time class="dt-published" datetime="{{ reply.pub_date | strftime('%Y-%m-%d %H:%M')}}"><a class="u-url" href="{{ reply.source }}">{{ reply.pub_date | strftime('%Y-%m-%d %H:%M') }}</a></time>
            {% if reply.author_name %} |
              {% if reply.author_url %}
                <a class="p-author h-card" href="{{reply.author_url}}">
                  {{ reply.author_name }}
                </a>
              {% else %}
                <span class="p-author">{{ reply.author_name }}</span>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>    
    {% endif %}

    {% if post.references %}
      <div class="references">
        <a name="refs"></a><b>References</b>
        {% for ref in post.references %}
          <div class="p-comment">
            <p class="e-content">{{ ref.content }}</p>
            <time class="dt-published" datetime="{{ ref.pub_date | strftime('%Y-%m-%d %H:%M')}}">{{ ref.pub_date | strftime('%Y-%m-%d %H:%M') }}</time> |
            {% if ref.author_name %}
              {% if ref.author_url %}
                <a class="p-author h-card" href="{{ref.author_url}}">
                  {{ ref.author_name }}
                </a>
              {% else %}
                <span class="p-author">{{ ref.author_name }}</span>
              {% endif %} |
            {% endif %}
            <a class="u-url" href="{{ ref.source }}">Source</a>

          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  
{% endblock content %}

