{% extends "base.html" %}

{% block head_content %}
  <!-- begone, proprietary metacrap -->
{% endblock %}

{% block content %}

  <div class="post {{post.post_type}} h-entry {{ 'draft' if post.draft else '' }}">

    {% include "full_reply_context.html" %}
    {% include "hcard_author.html" %}

    <div style="margin-left: 56px;">
      {% include "like_context.html" %}
      {% include "share_context.html" %}
      {% include "post_content.html" %}

      <div class="links">
	{% include "admin_post_controls.html" %}
	{% if post.latitude and post.longitude %}
	From <a href="http://www.openstreetmap.org/#map=18/{{post.latitude}}/{{post.longitude}}">{{post.location_name or 'Unnamed place'}}</a>
	<br/>
	{% endif %}

	{% include "single_post_links.html" %}
	{% include "syndication_links.html" %}
      </div>




      {% include "post_mentions.html" %}
    </div>

  </div>

  {% include "footer.html" %}

{% endblock content %}
