
{% for share in post.share_contexts %}
  <div class="share-context">


    {% if (not share.author_name and share.permalink and share.title) %}

      <i class="fa fa-retweet"></i> Shared <a class="u-repost-of" href="{{ share.permalink }}">{{share.title}}</a>

    {% else %}

      <div class="p-repost-of h-cite">

        <i class="fa fa-retweet"></i> Shared a post by
        <span class="p-author h-card">

          <div class="author-image-holder">
            <img class="u-photo"
                 src="{{share.author_image or url_for('static', filename='img/users/placeholder.png')}}"
                 alt="{{share.author_name}}"/>
          </div>

          {% if share.author_name and share.author_url %}
            <a class="p-name u-url" href="{{share.author_url}}">{{ share.author_name }}</a>
          {% elif share.author_name %}
            <span class="p-name">{{ share.author_name}}</span>
          {% elif share.author_url %}
            <a class="u-url" href="{{share.author_url}}">{{ share.author_url | prettify_url }}</a>
          {% endif %}
        </span>

        from
        <time class="dt-published" datetime="{{ share.pub_date | isotime }}"><a class="u-url" href="{{ share.permalink }}">{{ share.pub_date | human_time }}</a></time>

        <div class="content">
          {% if share.title %}
            <span class="p-name">{{share.title or ''}}</span>
          {% endif %}

          {% set content_length = share.content | format_as_text(share.content_format) | wordcount %}
          {% if content_length < 100 %}
            <div class="e-content">
              {{ share.content | format_as_html(share.content_format) | bleach | safe }}
            </div>
          {% else %}
            <br /><a class="u-url" href="{{ share.permalink }}">{{ content_length }} words.</a><br />
          {% endif %}
        </div>


        <div style="clear: both"></div>

      </div>
    {% endif %}
  </div>
{% endfor %}
