    {% for share in post.share_contexts %}
      <div class="share-context">
      {% if (not share.author_name and share.permalink and share.title) %}

        Shared <a class="u-repost-of" href="{{ share.permalink }}">{{share.title}}</a>

      {% else %}
    
        <div class="p-repost-of h-cite">
            <time class="dt-published" datetime="{{ share.pub_date | isotime }}">
              Shared a post from <a class="u-url" href="{{ share.permalink }}">{{ share.pub_date | strftime('%Y-%m-%d %I:%M %P') }}</a>
            </time>

          <div class="p-author h-card">

            {% if share.author_image %}
              <div class="author-image-holder">
                <img class="u-photo"
                     src="{{share.author_image}}"
                     alt="{{share.author_name}}"/>
              </div>
            {% endif %}

            {% if share.author_name %}
              <span class="p-name">{{share.author_name}}</span>
            {% endif %}
            {% if share.author_url %}
              / <a class="u-url" href="{{share.author_url}}">{{ share.author_url | prettify_url }}</a>
            {% endif %}

          </div>

          <div {% if share.author_image %}style="margin-left: 56px;"{% endif %}>
            {% if share.title %}
              <span class="p-name">{{share.title or ''}}</span>
	    {% endif %}

	    {% set content_length = share.content | wordcount %}	    
            {% if content_length < 100 %}
              <p class="e-content">
                {{ share.content | format_as_html(share.content_format) | safe }}
              </p>
	    {% else %}
	      <a class="u-url" href="{{ share.permalink }}">{{ content_length }} words.</a><br />
            {% endif %}
	      
          </div>

          <div style="clear: both"></div>

        </div>
      {% endif %}
      </div>
    {% endfor %}

