{% if post.reply_contexts %}
  {% for reply in post.reply_contexts %}
    <div class="reply-context">
      <span class="p-author h-card">
        {% if reply.author_name %}
        {% if reply.author_url %}<a class="p-name u-url" href="{{reply.author_url}}">
          {% else %} <span class="p-name"> {% endif %}
            {{reply.author_name}}
            {% if reply.author_url %} </a>
        {% else %} </span> {% endif %}
        {% endif %}
      </span>
      on
      <time class="dt-published" datetime="{{ reply.pub_date | isotime }}">
        <a rel="in-reply-to" class="u-url" href="{{ reply.permalink }}">{{ reply.pub_date | strftime('%Y-%m-%d %I:%M %P') }}</a>
      </time>
      said
      <br/>
      {% if (not reply.author_name and reply.permalink and reply.title) %}
        <a rel="reply-to" class="u-in-reply-to" href="{{ reply.permalink }}">{{reply.title}}</a>
      {% else %}
        <div class="p-in-reply-to h-cite">
          {% if reply.title %}
            &ldquo;<span class="p-name">{{ reply.title }}</span>&rdquo;
	  {% endif %}
	  {% set content_words = reply.content | wordcount %}
	  
          {% if content_words < 100 %}
            &ldquo;<span class="e-content">{{ reply.content | format_as_html(reply.content_format) | safe }}</span>&rdquo;
          {% else %}
             {{ content_words }} words
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% endfor %}

{% endif %}
