{% if post.twitter_url or post.facebook_url %}

  <div class="syndication-links">
    <h4>Syndication</h4>
    <ul>
      {% if post.twitter_url %}
        <li><a rel="syndication" class="u-syndication" href="{{ post.twitter_url }}">
            <i class="fa fa-twitter"></i> View on Twitter
        </a></li>
      {% endif %}

      {% if post.facebook_url %}
        <li><a rel="syndication" class="u-syndication" href="{{ post.facebook_url }}">
            <i class="fa fa-facebook"></i> View on Facebook
        </a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
