body {
    max-width: 800px;
    margin: 1em auto;
    line-height: 1.4em;
    font-family: "Nimbus Sans L", Helvetica, sans-serif;
}

a {
    color: #07d;
    text-decoration: none;
}

a:hover {
    color: #05b;
    text-decoration: underline;
}

p {
    margin: 0;
}

p + p {
    margin-top: 0.8em;
}

pre {
    overflow-x: auto;
}

main {
    margin: 50px 0.5em 10px 0.5em;
}

article {
    padding: 0.5em;
}

article + article {
    margin-top: 150px;
}


article.highlight {
    background-color: rgb(255, 255, 245);
    box-shadow: 0 0 2px #ddd;
}


article.note-like .primary-content {
    font-size: 1.5em;
    line-height: 1.4em;
}

article .tags {
    margin: 0.6em; 0.2em;
}

article a.p-category {
    color: #999;
    background-color: #eee;
    padding: 0px 5px;
    display: inline-block;
    text-decoration: none;
}

article img {
    max-width: 100%;
    height: auto;
}

.post-metadata {
    color: #999;
    font-size: 0.9em;
    margin-top: 0.5em;
}
.post-metadata a {
    color: #999;
}

.post-metadata span + span {
  margin-left: 1em;
}

.microcard img {
    max-height: 1.2em;
    width: auto;
    vertical-align: middle;
    border-radius: 4px;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
    border-left: 1px solid #999;
}

.note-like blockquote {
    border-left: 2px solid #999;
}

.admin-post-controls, .admin-post-controls-arrow {
    margin-top: 1em;
}

/* ----------- Navgation ----------- */

.site-title {
    font-weight: bold;
}

nav span {
    display: inline-block;
    margin: 0px 0.5em 0.2em 0.5em;
}

nav a {
    display: inline-block;
    color: #999;
    margin: 0px 0.5em 0.2em 0.5em;
}

nav {
    border-bottom: 2px solid #ddd;
}

.page-arrows {
    margin: 10px;
}
.page-arrows .page-right {
    float: right;
}
.page-arrows .page-left {
    float: left;
}


/* ----------- Contexts ----------- */

.p-in-reply-to .e-content {
    border-left: 1px solid #999;
    padding: 0.5em;
    margin-bottom: 0.5em;
    max-height: 320px;
    overflow-y: auto;
}

.p-in-reply-to .e-content img, .share .e-content img {
    max-width: 100%;
    height: auto;
}

article.share .p-author .u-photo {
    float: left;
    margin-top: 0.5em;
    margin-right: 0.7em;
    border-radius: 4px;
    max-width: 64px;
    height: auto;
}

article.share .repost-body {
    margin-left: calc(64px + 0.7em);
}

article.share .repost-entry + .repost-entry {
    margin-top: 1em;
}

/* ----------- Mentions ----------- */

.mentions {
    margin: 50px 0px;
}

.send_webmention {
    margin-top: 50px;
}

.p-comment + .p-comment {
    margin-top: 1rem;
}

.mention-metadata {
    color: #999;
}

.mention-metadata a {
    color: #999;
}

/* ----------- Forms ----------- */

.new-post-bar {
    text-align: center;
    margin: 20px auto;
    font-size: 10pt;
}

.new-post-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.new-post-bar ul li {
    text-align: center;
    vertical-align: center;
    display: inline;
    padding: 1em;
}

.new-post-bar i {
    font-size: 24pt;
    display: block;
}

.new-post-bar a {
    color: #333;
    display: inline-block;
    width: 40px;
    text-decoration: none;
}

label {
    display: block;
}

.not-logged-in {
    border: solid 1px #ddd;
    box-shadow: 0 0 2px #ddd;
    padding: 0.5em;
    margin: 0.5em;
    background: #fdd;
    font-style: italic;
}

#contact_form textarea, #contact_form input[type="text"],
#edit_form textarea, #edit_form input[type="text"] {
    width: 100%;
    font-size: 1.4em;
}

.top_tags {
    margin: 0px 0px 20px;
}

a.top_tag {
    border: 1px solid #aaa;
    color: #333;
    background-color: #eee;
    padding: 3px;
    margin: 0px 0px 5px;
    display: inline-block;
    text-decoration: none;
}

a.top_tag:hover {
    background-color: #ddf;
}

/* ----------- Contacts ------------ */

.contact.h-card {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 0.5em;
}

.contact.h-card .u-photo {
    float: left;
    margin: 1em;
    max-width: 64px;
    max-height: 64px;
}

.contact.h-card .text {
    float: left;
}

.contact.h-card .p-name {
    font-weight: bold;
}

.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



/* ----------- Leaflet ----------- */

.map {
    height: 320px;
    max-width: 800px;
    width: 100%;
}

/* ----------- Buttons (Skeleton) ----------- */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* ----------- Forms (Skeleton) ----------- */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* ----------- Footer ----------- */

footer .site-info {
    text-align: center;
    color: #999;
}

footer .site-info a {
    text-align: center;
    color: #666;
}

footer .p-author.h-card img {
    max-width: 64px;
    border-radius: 4px;
    display:inline;
    float: left;
    margin-right: 0.5em;
}

footer {
    margin-top: 150px;
}

footer #indie_auth_url {
    display: inline;
}