{% extends "base.html" %}

{% block content %}

{% set prev_year = None %}

  {% for month in months %}
    {% if month.year != prev_year %}
      <h2>{{ month.year }}</h2>
    {% endif %}

    {% if month == expanded_month %}
      <div>{{ month | strftime("%B") }}</div>

        {% for post in posts %}
          <div class="h-entry post">
            {% include "_reply_context.html" %}
            {% include "_share_context.html" %}
            {% include "_like_context.html" %}
            {% include "_post_content.html" %}
            <div class="links">
              {% include "_single_post_links.html" %}
            </div>
          </div>
        {% endfor %}

    {% else %}
      <div><a href="{{url_for('archive', year=month.year, month=month.month)}}">{{ month | strftime("%B") }}</a></div>
    {% endif %}



    {% set prev_year = month.year %}
  {% endfor %}

{% endblock %}
