@import "_meyer-reset";

$title-font: Helvetica, Arial, sans-serif;
/*$body-font: Georgia, Times New Roman, serif;*/
$body-font: $title-font;

/* Subtlety of Hue */
$lunar-green: #484A47;
$pine-glade: #C1CE96;
$athens-gray: #ECEBF0;
$sirocco: #687D77;
$armadillo: #353129;

$box-shadow: 0 0 2px $sirocco;

body {
    font: 10pt/1.5em $body-font;
    max-width: 600px;
    padding: 0 1em;
    background-color: $athens-gray;
}

main {
    width: 100%;
    float: left;
    background-color: white;
    box-shadow: $box-shadow;

    header {
        h1 {
            color: black;
            font-size: 2em;
        }
        margin: 1em 0;
    }

    & > * {
        padding-left: 1% !important;
        padding-right: 1% !important;
    }

    &:first-child {
        padding-top: 1% !important;
    }
    &:last-child {
        padding-bottom: 1% !important;
    }
}

.h-feed {
    &>main {
        width: 68%;
    }
    &>aside {
        width: 28%;
        padding: 1%;
        float: right;
        background-color: white;
        box-shadow: $box-shadow;
    }
}

a {
    color: $sirocco;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        color: $sirocco;
    }
}

p {
    padding: 1em 0px 0.5em;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    font-weight: bold;
    color: black;
    a {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: bold;
}

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: 1.075em;
}

h3 {
    font-size: 1.05em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}

article {
    margin-bottom: 2.5em;
}

blockquote {
    background-color: $athens-gray;
    color: $armadillo;
    padding: 0em 0.5em 0.5em 0.5em;
}

article {
    footer {
        font-size: 0.9em;
    }
}

pre, code {
    overflow: hidden;
}

.context {
    overflow: auto;
    .author {
        img {
            display: block;
            float: left;
            margin: 0.5em 0.5em 0 0;
        }
    }
    .e-content {
        overflow: auto;
    }
}

.microcard {
    img {
        width: 1em;
    }
}

.byline {
    img {
        display: none;
    }
}

.p-comment {
    .rsvp {
        font-weight: bold;
        &.yes {
            color: #11A411;
        }
        &.no {
            color: #D20000;
        }
        &.maybe {
            color: #E7AA19;
        }
    }
}
